In [1]:
import pandas as pd
import os
import sys
from mortgage import Loan
from decimal import Decimal
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
str_environment = 'linux' #windows, linux
int_environment = 0
if str_environment == 'windows':
    int_environment = 0
else:
    int_environment = 1

In [6]:
lst_years = [2015, 2016, 2017, 2018, 2019, 2020]

str_directory_linux = '/media/tommy/Data/IAT/xlsx_to_csv/'
str_directory_windows = "D:/IAT/xlsx_to_csv/"
lst_directory = [str_directory_windows, str_directory_linux]

li = []

for year in lst_years:
    str_file = 'property-tax-report_' + str(year) + '.csv'

    df = pd.read_csv(lst_directory[int_environment] + str_file, usecols=None, nrows=None, dtype={'NEIGHBOURHOOD_CODE': str, 'REPORT_YEAR': int})
    li.append(df)
    
df_all = pd.concat(li, axis=0, ignore_index=False)

df_all.head()

,PID,LEGAL_TYPE,FOLIO,LAND_COORDINATE,ZONE_NAME,ZONE_CATEGORY,BLOCK,PLAN,DISTRICT_LOT,LOT,FROM_CIVIC_NUMBER,TO_CIVIC_NUMBER,STREET_NAME,PROPERTY_POSTAL_CODE,NARRATIVE_LEGAL_LINE3,NARRATIVE_LEGAL_LINE2,NARRATIVE_LEGAL_LINE1,NARRATIVE_LEGAL_LINE4,NARRATIVE_LEGAL_LINE5,CURRENT_LAND_VALUE,CURRENT_IMPROVEMENT_VALUE,TAX_ASSESSMENT_YEAR,PREVIOUS_IMPROVEMENT_VALUE,PREVIOUS_LAND_VALUE,YEAR_BUILT,BIG_IMPROVEMENT_YEAR,TAX_LEVY,NEIGHBOURHOOD_CODE,REPORT_YEAR
0,025-512-781,LAND,24637820000,2463782,RS-1,One Family Dwelling,4,BCP1771,540,8,NaN,1992.0,SASAMAT ST,V6R 4J1,NaN,ICT LOT 540 NWD OF BLK 138.,LOT 8 BLOCK 4 PLAN BCP1771 DISTR,NaN,NaN,2655000.0,886000.0,2015.0,936000.0,2383000.0,2003.0,2003.0,13659.60,001,2015
1,002-933-314,LAND,642024820000,64202482,RS-1,One Family Dwelling,141,19659,540,C,NaN,4420.0,5TH AVE W,V6R 1S5,NaN,ICT LOT 540 NEW WESTMINSTER,LOT C BLOCK 141 PLAN 19659 DISTR,NaN,NaN,1815000.0,128000.0,2015.0,132000.0,1620000.0,1983.0,1983.0,8096.19,001,2015
2,015-393-895,LAND,632024970000,63202497,RS-1,One Family Dwelling,130,VAP229,540,18,NaN,NaN,VACANT,NaN,NaN,TRICT LOT 540 NEW WESTMINSTER,LOT 18 BLOCK 130 PLAN VAP229 DIS,NaN,NaN,3105000.0,0.0,2015.0,0.0,3012000.0,NaN,NaN,0.00,001,2015
3,014-702-266,STRATA,648037040002,64803704,RM-4,Multiple Family Dwelling,NaN,VAS2474,176,2,102,3788.0,8TH AVE W,V6R 1Z3,HARE IN COM PROP THEREIN.,76 NEW WESTMINSTER UNDIV 77/3583 S,LOT 2 PLAN VAS2474 DISTRICT LOT 1,NaN,NaN,289000.0,143000.0,2015.0,150000.0,285000.0,1989.0,1989.0,1527.27,001,2015
4,004-127-773,STRATA,640035070005,64003507,RM-3A,Multiple Family Dwelling,NaN,VAS484,538,5,105,3875.0,4TH AVE W,V6R 4H8,SHARE IN COM PROP THEREIN.,8 NEW WESTMINSTER UNDIV 150/10000,LOT 5 PLAN VAS484 DISTRICT LOT 53,NaN,NaN,251000.0,56900.0,2015.0,60200.0,270000.0,1977.0,1977.0,1088.53,001,2015

In [7]:
df2 = df_all.copy()

# Filter by Zone Category
lst_zone_categories = ['One Family Dwelling', 'Multiple Family Dwelling', 'Comprehensive Development', 'Two Family Dwelling']
df2 = df2[df2['ZONE_CATEGORY'].isin(lst_zone_categories)]

df2['dwelling_type'] = np.where(
    df2['ZONE_CATEGORY']=='Comprehensive Development',
    'condo_dwelling',
    'family_dwelling'
)

# Filter out OTHER

df2 = df2[df2['LEGAL_TYPE']!='OTHER']
# Remove all Zero Taxes
# df2 = df2[df2['TAX_LEVY'] > 0]

In [8]:
df2.head()

,PID,LEGAL_TYPE,FOLIO,LAND_COORDINATE,ZONE_NAME,ZONE_CATEGORY,BLOCK,PLAN,DISTRICT_LOT,LOT,FROM_CIVIC_NUMBER,TO_CIVIC_NUMBER,STREET_NAME,PROPERTY_POSTAL_CODE,NARRATIVE_LEGAL_LINE3,NARRATIVE_LEGAL_LINE2,NARRATIVE_LEGAL_LINE1,NARRATIVE_LEGAL_LINE4,NARRATIVE_LEGAL_LINE5,CURRENT_LAND_VALUE,CURRENT_IMPROVEMENT_VALUE,TAX_ASSESSMENT_YEAR,PREVIOUS_IMPROVEMENT_VALUE,PREVIOUS_LAND_VALUE,YEAR_BUILT,BIG_IMPROVEMENT_YEAR,TAX_LEVY,NEIGHBOURHOOD_CODE,REPORT_YEAR,dwelling_type
0,025-512-781,LAND,24637820000,2463782,RS-1,One Family Dwelling,4,BCP1771,540,8,NaN,1992.0,SASAMAT ST,V6R 4J1,NaN,ICT LOT 540 NWD OF BLK 138.,LOT 8 BLOCK 4 PLAN BCP1771 DISTR,NaN,NaN,2655000.0,886000.0,2015.0,936000.0,2383000.0,2003.0,2003.0,13659.60,001,2015,family_dwelling
1,002-933-314,LAND,642024820000,64202482,RS-1,One Family Dwelling,141,19659,540,C,NaN,4420.0,5TH AVE W,V6R 1S5,NaN,ICT LOT 540 NEW WESTMINSTER,LOT C BLOCK 141 PLAN 19659 DISTR,NaN,NaN,1815000.0,128000.0,2015.0,132000.0,1620000.0,1983.0,1983.0,8096.19,001,2015,family_dwelling
2,015-393-895,LAND,632024970000,63202497,RS-1,One Family Dwelling,130,VAP229,540,18,NaN,NaN,VACANT,NaN,NaN,TRICT LOT 540 NEW WESTMINSTER,LOT 18 BLOCK 130 PLAN VAP229 DIS,NaN,NaN,3105000.0,0.0,2015.0,0.0,3012000.0,NaN,NaN,0.00,001,2015,family_dwelling
3,014-702-266,STRATA,648037040002,64803704,RM-4,Multiple Family Dwelling,NaN,VAS2474,176,2,102,3788.0,8TH AVE W,V6R 1Z3,HARE IN COM PROP THEREIN.,76 NEW WESTMINSTER UNDIV 77/3583 S,LOT 2 PLAN VAS2474 DISTRICT LOT 1,NaN,NaN,289000.0,143000.0,2015.0,150000.0,285000.0,1989.0,1989.0,1527.27,001,2015,family_dwelling
4,004-127-773,STRATA,640035070005,64003507,RM-3A,Multiple Family Dwelling,NaN,VAS484,538,5,105,3875.0,4TH AVE W,V6R 4H8,SHARE IN COM PROP THEREIN.,8 NEW WESTMINSTER UNDIV 150/10000,LOT 5 PLAN VAS484 DISTRICT LOT 53,NaN,NaN,251000.0,56900.0,2015.0,60200.0,270000.0,1977.0,1977.0,1088.53,001,2015,family_dwelling

In [13]:
# REMOVE UNNECESSARY COLUMNS
lst_columns = ['PID', 'LEGAL_TYPE', 'ZONE_CATEGORY', 'CURRENT_LAND_VALUE', 'CURRENT_IMPROVEMENT_VALUE', 'PREVIOUS_IMPROVEMENT_VALUE', 'PREVIOUS_LAND_VALUE', 'TAX_LEVY', 'NEIGHBOURHOOD_CODE', 'REPORT_YEAR', 'dwelling_type', 'YEAR_BUILT']
lst_address = ['TO_CIVIC_NUMBER', 'STREET_NAME', 'PROPERTY_POSTAL_CODE']
df2 = df2[lst_columns + lst_address]

In [14]:
# Sum Total Value of Current Year's Land and Building
df2['CURRENT_TOTAL_VALUE'] = df2['CURRENT_LAND_VALUE'].fillna(0) + df2['CURRENT_IMPROVEMENT_VALUE'].fillna(0)

In [15]:
# Removing Records with no CURRENT_VALUE
df2 = df2[df2['CURRENT_TOTAL_VALUE']>0]

In [16]:
# Sum Total Value of Last Year's Land and Building
df2['PREVIOUS_TOTAL_VALUE'] = df2['PREVIOUS_LAND_VALUE'].fillna(0) + df2['PREVIOUS_IMPROVEMENT_VALUE'].fillna(0)

In [18]:
# Change in Value
df2['CHANGE_TOTAL_VALUE'] = df2['CURRENT_TOTAL_VALUE'] - df2['PREVIOUS_TOTAL_VALUE']
df2['mortgage_return_prctg'] = (df2['CHANGE_TOTAL_VALUE'] / df2['PREVIOUS_TOTAL_VALUE'] ) * 100

In [72]:
# Add number of bedrooms NEW
# https://www.zolo.ca/vancouver-real-estate/trends

lst_years = [2014, 2015, 2016, 2017, 2018, 2019]#, 2020]
# lst_years = [2015]

lst_dwelling_type = ['condo_dwelling', 'family_dwelling']

li = []

for year in lst_years:
    for dwelling_type in lst_dwelling_type:
#         print(year, dwelling_type)
        
        str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/MLS_property_sales/'
        str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/MLS_property_sales/'
        lst_directory = [str_directory_windows, str_directory_linux]
        str_file = 'average_sale_prices_bedroom_dwelling_copied_2020.xlsx'
        lst_columns = ['year', 'dwelling_type', 'bedrooms', 'range_start', 'range_end']
        str_sheet = 'average_sale_prices'
        average_sale_prices_bedroom_dwelling = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name=str_sheet, usecols=lst_columns, nrows=None, dtype={'year': np.int32, 'range_start': np.float64, 'range_end': np.float64})

        average_sale_prices_bedroom_dwelling = average_sale_prices_bedroom_dwelling[average_sale_prices_bedroom_dwelling['year']==year]
        average_sale_prices_bedroom_dwelling = average_sale_prices_bedroom_dwelling[average_sale_prices_bedroom_dwelling['dwelling_type']==dwelling_type]
        
        df2_temp = df2.copy()
        df2_temp = df2_temp[df2_temp['REPORT_YEAR']==year]
        df2_temp = df2_temp[df2_temp['dwelling_type']==dwelling_type]

        average_sale_prices_bedroom_dwelling.index = pd.IntervalIndex.from_arrays(average_sale_prices_bedroom_dwelling['range_start'],average_sale_prices_bedroom_dwelling['range_end'],closed='both')
        df2_temp['bedrooms'] = df2_temp['CURRENT_TOTAL_VALUE'].apply(lambda x : average_sale_prices_bedroom_dwelling.iloc[average_sale_prices_bedroom_dwelling.index.get_loc(x)]['bedrooms'])
        
        li.append(df2_temp)
    
df3 = pd.concat(li, axis=0, ignore_index=False)
df3.reset_index(drop=True, inplace=True)
df3['bedrooms'] = df3['bedrooms'].astype(np.int64)

In [74]:
# Remove Condows with values too low or too high for residential purposes

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/MLS_property_sales/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/MLS_property_sales/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'average_sale_prices_bedroom_dwelling.xlsx'
lst_columns = ['year', 'dwelling_type', 'bedrooms', 'range_start_valid', 'range_end_valid']
str_sheet = 'average_sale_prices'
average_sale_prices_bedroom_dwelling = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name=str_sheet, usecols=lst_columns, nrows=None, dtype={'year': np.int32})

df3 = pd.merge(df3, average_sale_prices_bedroom_dwelling,  how='left', left_on=['REPORT_YEAR', 'bedrooms', 'dwelling_type'], right_on = ['year', 'bedrooms', 'dwelling_type'])

df3['invalid_value'] = np.nan
# df3['invalid_value'] = np.where(
#     ((df3['dwelling_type'] == 'condo_dwelling') & ((df3['CURRENT_TOTAL_VALUE'] <= df3['range_start_valid']) | (df3['CURRENT_TOTAL_VALUE'] >= df3['range_end_valid']))),
#     'TRUE',
#     df3['invalid_value']                                                                                                                      
# )

df3['invalid_value'] = np.where(
    (((df3['CURRENT_TOTAL_VALUE'] <= df3['range_start_valid']) | (df3['CURRENT_TOTAL_VALUE'] >= df3['range_end_valid']))),
    'TRUE',
    df3['invalid_value']                                                                                                                      
)

df3 = df3[df3['invalid_value']!='TRUE']
df3.drop(columns=({'year', 'range_start_valid', 'range_end_valid', 'invalid_value'}), inplace=True)

In [77]:
# ADD Maintenance Fees
float_maintenance_fee_prct = 0.04 # old 0.002
df3['maintenance_fee'] = np.nan
df3['maintenance_fee'] = np.where(
    df3['LEGAL_TYPE'] == 'STRATA',
    df3['CURRENT_TOTAL_VALUE'] * float_maintenance_fee_prct/2,
    df3['CURRENT_TOTAL_VALUE'] * float_maintenance_fee_prct
)

In [78]:
# ADD Strata Fees
float_strata_fees_prctg = 0.005013135

df3['strata_fee'] = np.where(
    ((df3['LEGAL_TYPE']== 'STRATA')),
    df3['CURRENT_TOTAL_VALUE'] * float_strata_fees_prctg,
    0
    )

In [79]:
# ADD Homeowners Insurance
df3['homeowners_insurance'] = np.nan

lst_homeowners_insurance_thresholds = [0, 100000, 300000, 700000, 1500000, 5000000]

homeowners_insurance_dict = {
            0: 43,
            100000: 51,
            300000: 87,
            700000: 130,
            1500000: 155,
            5000000: 300,
        }
#https://insureye.com/average-home-insurance-cost-overpaying-do-a-30-second-test/


for int_threshold in lst_homeowners_insurance_thresholds:
    
    df3['homeowners_insurance'] = np.where(
    df3["CURRENT_TOTAL_VALUE"] >= int_threshold,
    homeowners_insurance_dict[int_threshold],
    df3['homeowners_insurance']
    )
    
df3['homeowners_insurance'] = 12 * df3['homeowners_insurance']

In [80]:
# Add Total Fees
df3['total_owners_fees'] = df3.maintenance_fee + df3.strata_fee + df3.homeowners_insurance

In [83]:
# Add Property Neighbourhoud

str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/property_neighbourhoods/'
str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/property_neighbourhoods/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'property_neighbourhoods.xlsx'
df_property_neighbourhoods = pd.read_excel(lst_directory[int_environment] + str_file, usecols=None, nrows=None, dtype={'Neighbourhood_Code_1': str, 'Neighbourhood_Code_2': str})

df_property_neighbourhoods.head()
df3.head()

df3 = pd.merge(df3, df_property_neighbourhoods,  how='left', left_on=['NEIGHBOURHOOD_CODE'], right_on = ['Neighbourhood_Code_2'])
df3.drop(columns=['Neighbourhood_Code_2'], inplace=True)

In [85]:
# Add Renting Neighbourhoud

str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/rent_rates/'
str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/rent_rates/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'rent_neighbourhoods.csv'
df_rent_neighbourhoods_map = pd.read_csv(lst_directory[int_environment] + str_file, usecols=None, nrows=None, dtype={'Neighbourhood_Code': str})

df3 = pd.merge(df3, df_rent_neighbourhoods_map,  how='left', left_on=['Rent_Zone_Code_equivalent'], right_on = ['Rent_Zone_Code'])
df3.drop(columns=['Rent_Zone_Code'], inplace=True)

In [86]:
# Add Renting Costs for CONDOS

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/rent_rates/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/rent_rates/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'average_rent_rates_vancouver.xlsx'
str_sheet = 'average_median_rates_2_aptFINAL'
str_rate_type = 'median' #'average' tommy_average
lst_columns = ['year', 'rate_type', 'bedrooms', 'neighborhood', 'final_value']
df_rent_neighbourhoods_apartments = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name=str_sheet, usecols=lst_columns, nrows=None, dtypes={'year': int})
# df_rent_neighbourhoods['year'] = df_rent_neighbourhoods['year'].astype(int)
df_rent_neighbourhoods_apartments.rename(
    columns={'final_value': "rent_cost"}, inplace=True)
df_rent_neighbourhoods_apartments['rent_cost'] = 12 * df_rent_neighbourhoods_apartments['rent_cost']    
df_rent_neighbourhoods_apartments = df_rent_neighbourhoods_apartments[df_rent_neighbourhoods_apartments['rate_type']==str_rate_type]
df_rent_neighbourhoods_apartments.reset_index(drop=True, inplace=True)

df3_condos = df3.copy()
df3_condos = df3_condos[df3_condos['dwelling_type'] =='condo_dwelling'] 

df3_condos = pd.merge(df3_condos, df_rent_neighbourhoods_apartments,  how='left', left_on=['REPORT_YEAR', 'bedrooms', 'Rent_Zone_Name'], right_on = ['year', 'bedrooms', 'neighborhood'])
df3_condos.drop(columns=['year', 'rate_type', 'neighborhood'], inplace=True)

In [87]:
# Add Renting Costs for FAMILY DWELLINGS

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/rent_rates/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/rent_rates/'
lst_directory = [str_directory_windows, str_directory_linux]

str_file = 'average_rent_rates_vancouver.xlsx'
str_sheet = 'average_rent_rates_family_FINAL'
str_rate_type = 'median' # 'average' tommy_average
lst_columns = ['year', 'rate_type', 'bedrooms', 'neighborhood', 'final_value']
df_rent_neighbourhoods_houses = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name=str_sheet, usecols=lst_columns, nrows=None, dtypes={'year': int})
# df_rent_neighbourhoods['year'] = df_rent_neighbourhoods['year'].astype(int)
df_rent_neighbourhoods_houses.rename(
    columns={'final_value': "rent_cost"}, inplace=True)
df_rent_neighbourhoods_houses['rent_cost'] = 12 * df_rent_neighbourhoods_houses['rent_cost']    
df_rent_neighbourhoods_houses = df_rent_neighbourhoods_houses[df_rent_neighbourhoods_houses['rate_type']==str_rate_type]
df_rent_neighbourhoods_houses.reset_index(drop=True, inplace=True)

df3_houses = df3.copy()
df3_houses = df3_houses[df3_houses['dwelling_type'] =='family_dwelling'] 

df3_houses = pd.merge(df3_houses, df_rent_neighbourhoods_houses,  how='left', left_on=['REPORT_YEAR', 'bedrooms', 'Rent_Zone_Name'], right_on = ['year', 'bedrooms', 'neighborhood'])
df3_houses.drop(columns=['year', 'rate_type', 'neighborhood'], inplace=True)

In [88]:
# Combine CONDO and FAMILY dwellings into 1 dataframe
df3 = df3_condos.copy()
df3 = df3.append(df3_houses, ignore_index=True)

In [89]:
# ADD Tenant Insurance
#https://insureye.com/average-home-insurance-cost-overpaying-do-a-30-second-test/
    
df3['tenant_insurance'] = 12 * 26

In [90]:
# ADD Total Renters Cost
df3['total_renters_cost'] = df3.rent_cost + df3.tenant_insurance

In [91]:
# Filter Maximum % Change of Value in Single Year
int_max_value_change = 33
df3['TOTAL_VALUE_CHANGE_PRCTG'] = ((df3['CURRENT_TOTAL_VALUE'] - df3['PREVIOUS_TOTAL_VALUE']) / df3['PREVIOUS_TOTAL_VALUE']) * 100
df3 = df3[df3['TOTAL_VALUE_CHANGE_PRCTG']<=int_max_value_change]

In [96]:
# Import Geolocation from External File

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/vancouver_geolocations/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/vancouver_geolocations/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'ICIS_AddressBC.csv'
lst_columns = ['LATITUDE', 'LONGITUDE', 'STREET_NUMBER', 'STREET_DIR_PREFIX', 'STREET_NAME', 'STREET_TYPE', 'STREET_DIR_SUFFIX', 'LAST_MODIFIED_DATE']

df_vanvouver_addresses = pd.read_csv(lst_directory[int_environment] + str_file, usecols=lst_columns, nrows=None)#, dtype={'year': str})

df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("AV", "AVE", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("SQUARE", "SQ", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("DRIVE", "DR", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("ROAD", "RD", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("PLACE", "PL", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("BOULEVARD", "BLVD", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("HIGHWAY", "HWY", case=False)
df_vanvouver_addresses["STREET_TYPE"] = df_vanvouver_addresses["STREET_TYPE"].str.replace("CRESCENT", "CRES", case=False)

df_vanvouver_addresses['street_full'] = df_vanvouver_addresses['STREET_NAME'].fillna('').astype(str) + " " + df_vanvouver_addresses['STREET_TYPE'].fillna('').astype(str) + " " + df_vanvouver_addresses['STREET_DIR_PREFIX'].fillna('').astype(str)+ " " + df_vanvouver_addresses['STREET_DIR_SUFFIX'].fillna('').astype(str)
df_vanvouver_addresses.street_full = df_vanvouver_addresses.street_full.replace('\s+', ' ', regex=True)
df_vanvouver_addresses.street_full = df_vanvouver_addresses.street_full.str.rstrip()
df_vanvouver_addresses.street_full = df_vanvouver_addresses.street_full.str.lstrip()
df_vanvouver_addresses.drop(columns=({'STREET_DIR_PREFIX', 'STREET_NAME', 'STREET_TYPE', 'STREET_DIR_SUFFIX'}), inplace=True)
df_vanvouver_addresses = df_vanvouver_addresses.sort_values('LAST_MODIFIED_DATE', ascending=[False])
df_vanvouver_addresses.drop_duplicates(subset=['street_full', 'STREET_NUMBER'], keep="first", inplace=True)
df_vanvouver_addresses.reset_index(drop=True, inplace=True)

# str_directory = 'data/property_for_sale/'
str_file = 'ICIS_AddressBC_cleaned.xlsx'
str_sheet_name = 'ICIS_AddressBC_cleaned'
df_vanvouver_addresses.to_excel(lst_directory[int_environment] + str_file, str_sheet_name)

df_vanvouver_addresses.head(5)

    LATITUDE   LONGITUDE  STREET_NUMBER  LAST_MODIFIED_DATE   street_full
0  49.276271 -123.081523           1080            20200412   VENABLES ST
1  49.221797 -123.025263           3655            20200412  HENNEPIN AVE
2  49.250577 -123.057117           3805            20200412    NANAIMO ST
3  49.250487 -123.057113           3815            20200412    NANAIMO ST
4  49.250397 -123.057110           3825            20200412    NANAIMO ST

In [99]:
# Extract all PID with addresses from 2019

import random

df_addresses = df3.copy()
df_addresses = df_addresses[df_addresses['REPORT_YEAR']>=2019]
df_addresses = df_addresses.sort_values('REPORT_YEAR', ascending=[False])
df_addresses.drop_duplicates(subset=['PID'], keep="first", inplace=True)
df_addresses.reset_index(drop=True, inplace=True)
# df_addresses = df_addresses.sample(1000)

lst_columns_group_by = ['LEGAL_TYPE', 'ZONE_CATEGORY', 'bedrooms', 'Neighbourhood_Name', 'REPORT_YEAR'] 

df_addresses = df_addresses[lst_columns_group_by + lst_address + ['PID', 'dwelling_type', 'CURRENT_TOTAL_VALUE', 'YEAR_BUILT', 'NEIGHBOURHOOD_CODE']]
df_addresses.reset_index(drop=True, inplace=True)

# str_directory = 'data/property_for_sale/'
# str_file = 'property_for_sale_excel_python.xlsx'
# str_sheet_name = 'property_for_sale'
int_max_val = 100 # every 20th property will be on sale

df_addresses['for_sale'] = np.nan
df_addresses['RAND'] = [ random.randint(1,int_max_val) for k in df_addresses.index]

df_addresses['for_sale'] = np.where(
    df_addresses['RAND'] == int_max_val,
    "TRUE",
    "FALSE"
)

# lst_columns = ['PID', 'LEGAL_TYPE', 'ZONE_CATEGORY', 'bedrooms', 'Neighbourhood_Name', 'YEAR_BUILT', 'NEIGHBOURHOOD_CODE', 'dwelling_type', 'CURRENT_TOTAL_VALUE', 'for_sale', 'TO_CIVIC_NUMBER', 'STREET_NAME']
# df_addresses = df_addresses[lst_columns]

# df_addresses.to_excel(str_directory + str_file, str_sheet_name)

df_addresses.head()

,LEGAL_TYPE,ZONE_CATEGORY,bedrooms,Neighbourhood_Name,REPORT_YEAR,TO_CIVIC_NUMBER,STREET_NAME,PROPERTY_POSTAL_CODE,PID,dwelling_type,CURRENT_TOTAL_VALUE,YEAR_BUILT,NEIGHBOURHOOD_CODE,for_sale,RAND
0,STRATA,Comprehensive Development,1,Downtown South,2019,1205.0,HOWE ST,V6Z 0B2,028-097-734,condo_dwelling,741000.0,2009.0,029,FALSE,63
1,LAND,One Family Dwelling,6,Kerrisdale,2019,5345.0,TRAFALGAR ST,V6N 1B8,014-540-444,family_dwelling,2897000.0,1981.0,005,FALSE,78
2,LAND,One Family Dwelling,6,Southlands,2019,6809.0,BEECHWOOD ST,V6P 5V1,004-368-908,family_dwelling,5124000.0,1990.0,006,FALSE,13
3,LAND,One Family Dwelling,6,Kerrisdale,2019,2058.0,36TH AVE W,V6M 1K9,013-279-025,family_dwelling,3320000.0,1938.0,005,FALSE,9
4,LAND,One Family Dwelling,6,Kerrisdale,2019,2526.0,37TH AVE W,V6N 2T2,008-252-262,family_dwelling,2983000.0,1912.0,005,FALSE,76

In [101]:
# ADD GEOLOCATION TO THE INDIVIDUAL PID ADDRESSES
df_addresses = pd.merge(df_addresses, df_vanvouver_addresses,  how='left', left_on=['TO_CIVIC_NUMBER', 'STREET_NAME'], right_on = ['STREET_NUMBER', 'street_full'])

df_addresses = df_addresses.dropna(how='any', subset=['LATITUDE'])
df_addresses.drop(columns=({'STREET_NUMBER', 'LAST_MODIFIED_DATE', 'street_full'}), inplace=True)

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/property_for_sale/'
str_directory_linux = '/home/tommy/Documents/IAT/project/property_for_sale/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'property_for_sale.xlsx'

lst_columns = ['PID', 'LEGAL_TYPE', 'ZONE_CATEGORY', 'bedrooms', 'Neighbourhood_Name', 'YEAR_BUILT', 'NEIGHBOURHOOD_CODE', 'dwelling_type', 'CURRENT_TOTAL_VALUE', 'for_sale', 'LATITUDE', 'LONGITUDE']
df_addresses = df_addresses[lst_columns]

df_addresses.to_excel(lst_directory[int_environment] + str_file, str_sheet_name)

df_addresses.head()

,PID,LEGAL_TYPE,ZONE_CATEGORY,bedrooms,Neighbourhood_Name,YEAR_BUILT,NEIGHBOURHOOD_CODE,dwelling_type,CURRENT_TOTAL_VALUE,for_sale,LATITUDE,LONGITUDE
0,028-097-734,STRATA,Comprehensive Development,1,Downtown South,2009.0,029,condo_dwelling,741000.0,FALSE,49.277764,-123.127790
1,014-540-444,LAND,One Family Dwelling,6,Kerrisdale,1981.0,005,family_dwelling,2897000.0,FALSE,49.238099,-123.166139
2,004-368-908,LAND,One Family Dwelling,6,Southlands,1990.0,006,family_dwelling,5124000.0,FALSE,49.223755,-123.157676
3,013-279-025,LAND,One Family Dwelling,6,Kerrisdale,1938.0,005,family_dwelling,3320000.0,FALSE,49.238896,-123.153612
4,008-252-262,LAND,One Family Dwelling,6,Kerrisdale,1912.0,005,family_dwelling,2983000.0,FALSE,49.238145,-123.163130

In [43]:
# Aggregation
lst_columns = ['LEGAL_TYPE', 'ZONE_CATEGORY', 'dwelling_type', 'CURRENT_TOTAL_VALUE', 'PREVIOUS_TOTAL_VALUE', 'CHANGE_TOTAL_VALUE', 'mortgage_return_prctg', 'REPORT_YEAR', 'bedrooms', 'total_owners_fees', 'Neighbourhood_Name', 'total_renters_cost', 'TOTAL_VALUE_CHANGE_PRCTG'] 
lst_columns_group_by = ['LEGAL_TYPE', 'ZONE_CATEGORY', 'dwelling_type', 'bedrooms', 'Neighbourhood_Name', 'REPORT_YEAR'] 
lst_columns_values = ['CURRENT_TOTAL_VALUE', 'PREVIOUS_TOTAL_VALUE', 'CHANGE_TOTAL_VALUE', 'mortgage_return_prctg', 'total_owners_fees', 'total_renters_cost', 'TOTAL_VALUE_CHANGE_PRCTG']

df3 = df3[lst_columns]
df4 = df3.copy()

# # MEAN
# df4 = df4.groupby(lst_columns_group_by, as_index=False)[lst_columns_values].mean()

# MEDIAN tommy_average
df4 = df4.groupby(lst_columns_group_by, as_index=False)[lst_columns_values].median()

In [46]:
# Assign Correct Data Type

for col in lst_columns_group_by: 
    df4[col] = df4[col].astype(np.str)

for col in lst_columns_values:
    if (col == 'mortgage_return_prctg'):
        continue
    df4[col] = df4[col].astype(np.int64)

In [47]:
# Make sure there are no nan values
df4[df4.isna().any(axis=1)]

Empty DataFrame
Columns: [LEGAL_TYPE, ZONE_CATEGORY, dwelling_type, bedrooms, Neighbourhood_Name, REPORT_YEAR, CURRENT_TOTAL_VALUE, PREVIOUS_TOTAL_VALUE, CHANGE_TOTAL_VALUE, mortgage_return_prctg, total_owners_fees, total_renters_cost, TOTAL_VALUE_CHANGE_PRCTG]
Index: []

In [49]:
# Load Average Mortgages Rates

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/mortgage_rates/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/mortgage_rates/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = '5_year_average_mortgage_rates_canada.xlsx'
lst_columns = ['year', 'month_int', 'rate']
df_average_mortgage_reates = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name='3410014501-eng', usecols=lst_columns, nrows=None, dtype={'year': str})

df_average_mortgage_reates = df_average_mortgage_reates[df_average_mortgage_reates['month_int']==1]
df_average_mortgage_reates.reset_index(drop=True, inplace=True)
df_average_mortgage_reates.head()

   year  month_int  rate
0  2000          1  8.34
1  2001          1  7.58
2  2002          1  6.62
3  2003          1  6.26
4  2004          1  5.78

In [51]:
# Add Margin Rates

str_directory_windows = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/margin_rates/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/margin_rates/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'margin_rates.xlsx'
str_sheet = 'margin_rates'
# lst_columns = ['year', 'rate_type', 'bedrooms', 'neighborhood', 'final_value']
df_margin_rates = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name=str_sheet, usecols=None, nrows=None)#, dtypes={'year': object})
df_margin_rates['year'] = df_margin_rates['year'].astype(str)
# df_rent_neighbourhoods_apartments.rename(
#     columns={'final_value': "rent_cost"}, inplace=True)
# df_rent_neighbourhoods_apartments['rent_cost'] = 12 * df_rent_neighbourhoods_apartments['rent_cost']    
# df_rent_neighbourhoods_apartments = df_rent_neighbourhoods_apartments[df_rent_neighbourhoods_apartments['rate_type']==str_rate_type]
# df_rent_neighbourhoods_apartments.reset_index(drop=True, inplace=True)

# df7 = df6.copy()


df4 = pd.merge(df4, df_margin_rates,  how='left', left_on=['REPORT_YEAR'], right_on = ['year'])
df4.drop(columns=['year'], inplace=True)

In [52]:
# Add Stock Returns

str_directory = 'C:/Users/tommy/Dropbox/SFU/IAT 814/Project/data/stock_returns/'
str_directory_linux = '/home/tommy/Dropbox/SFU/IAT 814/Project/data/stock_returns/'
lst_directory = [str_directory_windows, str_directory_linux]
str_file = 'all_stocks.xlsx'
str_sheet = 'all_stock_returns'
lst_columns = ['stock', 'year', 'yearly_stock_return']
df_stock_returns = pd.read_excel(lst_directory[int_environment] + str_file, sheet_name=str_sheet, usecols=lst_columns, nrows=None)#, dtypes={'year': object})
df_stock_returns['year'] = df_stock_returns['year'].astype(str)
# df_stock_returns.dtypes

In [55]:
# ALL THE CALCULATIONS


df5 = df4.copy()

lst_dimensions = ['year_start', 'year_end', 'down_payment', 'Mortgage_Fixed_Term', 'Loan_Life', 'stock', 'LEGAL_TYPE', 'ZONE_CATEGORY', 'dwelling_type', 'REPORT_YEAR', 'bedrooms', 'Neighbourhood_Name', 'total_renters_cost', 'value_at_purchase', 'loan_amount_at_mortgage_contract', 'mortgage_investment_value', 'investment_at_purchase', 'mortgage_return_prctg_yearly', 'mortgage_return_prctg_cumulative', 'stocks_w_margin_investment_value_after_rental_costs', 'return_prctg_yearly_stocks_w_margin', 'return_prctg_cumulative_stocks_w_margin', 'stocks_wo_margin_investment_value_after_rental_costs', 'return_prctg_yearly_stocks_wo_margin', 'return_prctg_cumulative_stocks_wo_margin']
lst_measures = ['CURRENT_TOTAL_VALUE_CORRECTED', 'PREVIOUS_TOTAL_VALUE_CORRECTED', 'mortgage_return_prctg', 'total_owners_fees', 'owning_costs_total_yearly', 'mortgage_return_value_yearly', 'mortgage_return_prctg_annualized', 'return_prctg_cumulative_stocks_w_margin_annualized', 'return_prctg_cumulative_stocks_wo_margin_annualized']
lst_columns = lst_dimensions + lst_measures
str_directory_windows = "D:/IAT/tableau_input/"
str_directory_linux = '/home/tommy/Documents/IAT/project/tableau_input/'
lst_directory = [str_directory_windows, str_directory_linux]

df5 = df5.sort_values(['LEGAL_TYPE', 'ZONE_CATEGORY', 'bedrooms', 'Neighbourhood_Name', 'REPORT_YEAR'], ascending=[True, True, True, True, True])
df5.reset_index(drop=True, inplace=True) 

# Mortgage Calculations Parameters
float_opening_costs = 0.01
float_closing_costs = 0.05

lst_down_payments = [.05, .1, .2, .3, .5, .999999]
# lst_down_payments = [.05, .2, .3, .5, .9999]
# lst_down_payments = [.05, .1, .2]

# lst_down_payments = [.9999]
# lst_down_payments = [.2]
lst_years_start = ['2015', '2016', '2017', '2018', '2019']
# lst_years_start = ['2015', '2016']
lst_years_end = lst_years_start
# lst_years_end = ['2018', '2019']

# lst_years_start = ['2015']
# lst_years_end = ['2019']

# lst_years_start = ['2015']
# lst_years_end = ['2019']
# lst_down_payments = [.1]

lst_fixed_term_mortgage = [5] #2,3,5
int_payments_per_year = 12
lst_loan_life_years = [30] #20, 25, 30

# Stock Calculations Parameters
lst_stocks = ['S&P500', 'Facebook', 'Apple', 'Gold', 'Bitcoin']
# lst_stocks = ['Apple', 'Facebook']

# calculations in total
int_counter_total = 0
int_counter = 0
for float_down_payment in lst_down_payments:
    for str_year_start in lst_years_start:
        for str_year_end in lst_years_end:
            for int_fixed_term_mortgage in lst_fixed_term_mortgage:
                for int_loan_life_year in lst_loan_life_years:
                    for stock in lst_stocks:

                        if int(str_year_start) >= int(str_year_end):
                            continue
                        int_counter_total = int_counter_total + 1


for float_down_payment in lst_down_payments:
    for str_year_start in lst_years_start:
        for str_year_end in lst_years_end:
            for int_fixed_term_mortgage in lst_fixed_term_mortgage:
                for int_loan_life_year in lst_loan_life_years:
                    for stock in lst_stocks:
                        
                        # MORTGAGE CALCULATIONS

                        if int(str_year_start) >= int(str_year_end):
                            continue
                        
                        int_counter = int_counter + 1
                        print('iter', str(int_counter),'of', int_counter_total, ':', float_down_payment, str_year_start, str_year_end, stock)

                        df6 = df5.copy()
                        df6 = df6[df6['REPORT_YEAR']>=str_year_start] #.astype(int)
                        df6 = df6[df6['REPORT_YEAR']<=str_year_end] #.astype(int)

                        # Add a counter by group
    #                     df4 = df4.sort_values(lst_columns_group_by, ascending=[True, True, True, True, True])
                        lst_columns_group_by = ['LEGAL_TYPE', 'ZONE_CATEGORY', 'bedrooms', 'Neighbourhood_Name', 'REPORT_YEAR'] 
                        df6['groupby_counter'] = df6.groupby(lst_columns_group_by[:-1]).cumcount() + 1


                        df6['year_purchased'] = np.where(
                            df6['groupby_counter']==1,
                            df6['REPORT_YEAR'].astype(np.int64),
                            np.nan
                        ) 

#                         print('step 1')

                        df6['year_purchased'] = df6['year_purchased'].ffill()
                        df6['years_since_purchase'] = df6['REPORT_YEAR'].astype(np.int64) - df6['year_purchased']

                        df6['CURRENT_TOTAL_VALUE_CORRECTED'] = np.nan
                        df6['PREVIOUS_TOTAL_VALUE_CORRECTED'] = np.nan
                        for row in range(0, df6.shape[0]):
                            df6['PREVIOUS_TOTAL_VALUE_CORRECTED'].iloc[row] = np.where(
                                df6.groupby_counter.iloc[row] == 1,     
                                df6['PREVIOUS_TOTAL_VALUE'].iloc[row],
                                df6['CURRENT_TOTAL_VALUE_CORRECTED'].iloc[row-1]
                            )

                            df6['CURRENT_TOTAL_VALUE_CORRECTED'].iloc[row] = np.where(
                                df6.groupby_counter.iloc[row] == 1,                            
                                df6['CURRENT_TOTAL_VALUE'].iloc[row],
                                df6['PREVIOUS_TOTAL_VALUE_CORRECTED'].iloc[row] * (1 + (df6['mortgage_return_prctg'].iloc[row] / 100))
                            )
                        df6['PREVIOUS_TOTAL_VALUE_CORRECTED'] = df6['PREVIOUS_TOTAL_VALUE_CORRECTED'].astype(np.int64)
                        df6['CURRENT_TOTAL_VALUE_CORRECTED'] = df6['CURRENT_TOTAL_VALUE_CORRECTED'].astype(np.int64)

#                         print('step 2')

                        df6['owning_opening_costs'] = np.where(
                            df6['groupby_counter']==1, #.astype(int)
                            df6['PREVIOUS_TOTAL_VALUE_CORRECTED'] * float_opening_costs,
                            0)

                        df6['owning_closing_costs'] = np.where(
                            df6['REPORT_YEAR']==str_year_end, #.astype(int)
                            df6['CURRENT_TOTAL_VALUE_CORRECTED'] * float_closing_costs,
                            0)

                        df6['value_at_purchase'] = np.where(
                            df6['groupby_counter']==1,
                            df6['PREVIOUS_TOTAL_VALUE_CORRECTED'],
                            np.nan)
                        df6['value_at_purchase'] = df6['value_at_purchase'].ffill()

                        df6['investment_at_purchase'] = df6['value_at_purchase'] * float_down_payment


#                         print('step 3')
                        # Add mortgage rates
                        df6 = pd.merge(df6, df_average_mortgage_reates,  how='left', left_on=['REPORT_YEAR'], right_on = ['year'])
                        df6.drop(columns=['year', 'month_int'], inplace=True)
                        df6.rename(columns=({'rate': 'mortgage_rate_yearly'}), inplace=True)
                        df6['mortgage_rate_yearly'] = np.where(
                            ((df6['years_since_purchase']==0) | (df6['years_since_purchase']==int_fixed_term_mortgage)),
                            df6['mortgage_rate_yearly'],
                            np.nan
                        )
                        df6['mortgage_rate_yearly'] = df6['mortgage_rate_yearly'].ffill()
                        df6['mortgage_rate_yearly'] = df6['mortgage_rate_yearly'] / 100
                        df6['mortgage_rate_periodical'] = df6['mortgage_rate_yearly'] / int_payments_per_year

                        df6['total_number_payments'] = np.where(
                            ((df6['years_since_purchase']==0) | (df6['years_since_purchase']==int_fixed_term_mortgage)),
                            int_payments_per_year * (int_loan_life_year - df6.years_since_purchase),
                            np.nan
                        )
                        df6['total_number_payments'] = df6['total_number_payments'].ffill()

    #                     df6['mortgage_payments_periodical_so_far'] = int_payments_per_year * (df6.years_since_purchase+1)

#                         print('step 4')

                        df6['mortgage_payment_periodical'] = np.nan
                        df6['mortgage_payment_yearly_principal'] = np.nan
                        df6['mortgage_payment_yearly_interest'] = np.nan
                        df6['loan_amount_at_mortgage_contract'] = np.nan
                        df6['loan_amount_at_purchase'] = np.nan
                        df6['remaining_principal'] = np.nan
                        df6['mortgage_return_value_yearly'] = np.nan

                        for row in range(0, df6.shape[0]):

#                             if row % 500 == 0:
#                                 print('row', row, 'of', df6.shape[0])

                            # at purchase
                            df6['loan_amount_at_mortgage_contract'].iloc[row] = np.where(
                                df6.years_since_purchase.iloc[row] == 0,                            
                                df6['value_at_purchase'].iloc[row] -  df6['investment_at_purchase'].iloc[row],
                                df6['loan_amount_at_mortgage_contract'].iloc[row]
                            )

                            # not at purchase & not up to new mortgage contract
                            df6['loan_amount_at_mortgage_contract'].iloc[row] = np.where(
                                ((df6.years_since_purchase.iloc[row] % lst_fixed_term_mortgage != 0) & (df6.years_since_purchase.iloc[row] != 0)),
                                df6['loan_amount_at_mortgage_contract'].iloc[row-1],
                                df6['loan_amount_at_mortgage_contract'].iloc[row]
                            )

                            # up to new mortgage contract & not at purchase
                            df6['loan_amount_at_mortgage_contract'].iloc[row] = np.where(
                                ((df6.years_since_purchase.iloc[row] % lst_fixed_term_mortgage == 0) & (df6.years_since_purchase.iloc[row] != 0)),
                                df6['remaining_principal'].iloc[row-1],
                                df6['loan_amount_at_mortgage_contract'].iloc[row]
                            )






                            ####### MORTGAGE LIBRARY #######
                            principal_input = df6.loan_amount_at_mortgage_contract.iloc[row]
                            interest_input = df6.mortgage_rate_yearly.iloc[row]
                            term_input = int(df6.total_number_payments.iloc[row] / 12)

                            loan = Loan(principal=principal_input, interest=interest_input, term=term_input)

                            payment_periodical = float(loan.monthly_payment)
                            month_number = int((df6.years_since_purchase.iloc[row] * int_payments_per_year) + 6)

                            interest, principal = (loan.split_payment(number=month_number, amount=Decimal(payment_periodical)))


                            principal = int(principal)
                            interest = int(interest)
                            ###############################

                            ####### NUMPY LIBRARY ##########
    #                         principal_input = df6.loan_amount_at_mortgage_contract.iloc[row]
    #                         interest_input = df6.mortgage_rate_yearly.iloc[row] / 12
    #                         term_input = int(df6.total_number_payments.iloc[row])
    #                         month_number = int((df6.years_since_purchase.iloc[row] * int_payments_per_year) + 6)

    # #                         periodical_total_pmt = abs(np.pmt(interest_input, 360, 400000))
    #                         periodical_principal_pmt = abs(np.ppmt(interest_input, month_number, term_input, principal_input)) #pv[, fv, when]) #	Compute the payment against loan principal.
    #                         periodical_interest_pmt = abs(np.ipmt(interest_input, month_number, term_input, principal_input))
                            ##############################


                            df6['mortgage_payment_yearly_principal'].iloc[row] = principal * 12 # mortgage library
    #                         df6['mortgage_payment_yearly_principal'].iloc[row] = periodical_principal_pmt * 12 # numpy
                            df6['mortgage_payment_yearly_interest'].iloc[row] = interest * 12  # mortgage library
    #                         df6['mortgage_payment_yearly_interest'].iloc[row] = periodical_interest_pmt * 12 # numpy
                            df6['remaining_principal'].iloc[row] = np.where(
                                df6['years_since_purchase'].iloc[row]==0,
                                df6['loan_amount_at_mortgage_contract'].iloc[row] - (principal * 12), # mortgage library
    #                             df6['loan_amount_at_mortgage_contract'].iloc[row] - (periodical_principal_pmt * 12), # numpy
                                df6['remaining_principal'].iloc[row],
                            )

                            df6['remaining_principal'].iloc[row] = np.where(
                                df6['years_since_purchase'].iloc[row]!=0,
                                df6['remaining_principal'].iloc[row-1] - (principal * 12), # mortgage library
    #                             df6['remaining_principal'].iloc[row-1] - (periodical_principal_pmt * 12), # numpy
                                df6['remaining_principal'].iloc[row],
                            )

                        df6['mortgage_payment_yearly_total'] = df6['mortgage_payment_yearly_principal'] + df6['mortgage_payment_yearly_interest']
                        df6['owning_fees_total'] = df6['owning_opening_costs'] + df6['owning_closing_costs'] + df6['total_owners_fees']

                        df6['loan_amount_at_purchase'] = np.where(
                            df6['groupby_counter']==1,
                            df6['loan_amount_at_mortgage_contract'],
                            np.nan
                        )
                        df6['loan_amount_at_purchase'] = df6['loan_amount_at_purchase'].ffill()

#                         print('step 5')

                        df6['mortgage_payment_yearly_total_so_far'] = np.nan
                        df6['owning_fees_total_so_far'] = np.nan
                        for row in range(0, df6.shape[0]):
                            df6['mortgage_payment_yearly_total_so_far'].iloc[row] = np.where(
                            df6['years_since_purchase'].iloc[row]==0,
                            df6['mortgage_payment_yearly_total'].iloc[row],
                            df6['mortgage_payment_yearly_total'].iloc[row] + df6['mortgage_payment_yearly_total_so_far'].iloc[row-1]     
                            )

                            df6['owning_fees_total_so_far'].iloc[row] = np.where(
                            df6['years_since_purchase'].iloc[row]==0,
                            df6['owning_fees_total'].iloc[row],
                            df6['owning_fees_total'].iloc[row] + df6['owning_fees_total_so_far'].iloc[row-1]     
                            )

                        df6['owning_costs_total_yearly'] = df6['mortgage_payment_yearly_total'] + df6['owning_fees_total']
                        df6['owning_costs_total_so_far'] = df6['mortgage_payment_yearly_total_so_far'] + df6['owning_fees_total_so_far']

                        df6['mortgage_investment_value'] = df6['CURRENT_TOTAL_VALUE_CORRECTED'] - df6['owning_costs_total_so_far'] - df6['remaining_principal']

#                         print('step 6')

                        df6['mortgage_return_prctg_yearly'] = np.nan
                        df6['mortgage_return_prctg_cumulative'] = np.nan
                        for row in range(0, df6.shape[0]):
                            
                            df6['mortgage_return_value_yearly'].iloc[row] = np.where(
                                df6['years_since_purchase'].iloc[row]==0,
                                (df6['mortgage_investment_value'].iloc[row] - df6['investment_at_purchase'].iloc[row]),
                                (df6['mortgage_investment_value'].iloc[row] - df6['mortgage_investment_value'].iloc[row-1])
                            )
           
                            df6['mortgage_return_prctg_yearly'].iloc[row] = np.where(
                                df6['years_since_purchase'].iloc[row]==0,
                                (df6['mortgage_return_value_yearly'].iloc[row]) / (df6['investment_at_purchase'].iloc[row]),
                                (df6['mortgage_return_value_yearly'].iloc[row]) / abs(df6['mortgage_investment_value'].iloc[row-1])
                            )
        
                        df6['mortgage_return_prctg_yearly'] = df6['mortgage_return_prctg_yearly'] * 100
                
                        df6['mortgage_return_value_cumulative'] = ((df6['mortgage_investment_value'] - df6['investment_at_purchase']))
                        df6['mortgage_return_prctg_cumulative'] = ((df6['mortgage_investment_value'] - df6['investment_at_purchase']) / df6['investment_at_purchase']) * 100

                        # ((P + G) / P) ^ (1 / n) - 1
                        
                        df6['mortgage_investment_return_cumulative'] = df6['mortgage_return_value_cumulative'] / df6['investment_at_purchase']
#                         df6['mortgage_return_prctg_annualized'] = (((df6['investment_at_purchase'] +  df6['mortgage_return_value_cumulative']) / df6['investment_at_purchase'])**(1 / (df6['years_since_purchase']+1)) - 1) * 100
#                         df6['mortgage_return_prctg_annualized'] = ((df6['investment_at_purchase'] +  df6['mortgage_investment_return_cumulative'])**(1 / (df6['years_since_purchase']+1)) - 1) * 100

                        # needed to fix the formula for negative returns after year 1
                        df6['mortgage_return_prctg_annualized'] = np.where(
                            df6['mortgage_investment_return_cumulative'] > -1,
                            ((1 +  df6['mortgage_investment_return_cumulative'])**(1 / (df6['years_since_purchase']+1)) - 1) * 100,
                            ((1 +  df6['mortgage_investment_return_cumulative'])**(1 / 1) - 1) * 100
                        )
                        
                        
                        df6['year_start'] = str(str_year_start)
                        df6['year_end'] = str(str_year_end)
                        df6['down_payment'] = np.where(
                            float_down_payment==.9999, 
                            "100",
                            str(float_down_payment*100)
                        )
                        df6['Mortgage_Fixed_Term'] = str(int_fixed_term_mortgage)
                        df6['Loan_Life'] = str(int_loan_life_year)
                        df6['stock'] = str(stock)

#                         print('step 7')

                        df6['total_renters_cost_so_far'] = np.nan

                        for row in range(0, df6.shape[0]):

                            df6['total_renters_cost_so_far'].iloc[row] = np.where(
                                df6.groupby_counter.iloc[row] == 1,  
                                df6['total_renters_cost'].iloc[row],
                                df6['total_renters_cost_so_far'].iloc[row-1] + df6['total_renters_cost'].iloc[row]
                            )

#                         print('step 8')
                        
                        
                        ########
                        
                        # STOCK MARGIN CALCULATIONS
                        
                        df6['stock'] = stock
        
                        df6 = pd.merge(df6, df_stock_returns,  how='left', left_on=['REPORT_YEAR', 'stock'], right_on = ['year', 'stock'])

                        # new columns WITH margin
                        df6['investments_stocks_at_start_of_year_w_margin'] = np.nan
                        df6['margin_loan'] = np.nan
                        df6['total_stock_investment_w_margin'] = np.nan
                        df6['stock_return_value_w_margin'] = np.nan
                        df6['margin_interest_value'] = np.nan
                        df6['stocks_w_margin_investment_value_at_end_of_year'] = np.nan
                        df6['return_prctg_yearly_stocks_w_margin'] = np.nan
                        df6['return_value_yearly_stocks_w_margin'] = np.nan

                        # new columns WITHOUT margin
                        df6['investments_stocks_at_start_of_year_wo_margin'] = np.nan
                        df6['total_stock_investment_wo_margin'] = np.nan
                        df6['stock_return_value_wo_margin'] = np.nan
                        df6['stocks_wo_margin_investment_value_at_end_of_year'] = np.nan
                        df6['return_prctg_yearly_stocks_wo_margin'] = np.nan
                        df6['return_value_yearly_stocks_wo_margin'] = np.nan

                        for row in range(0, df6.shape[0]):

                            # with margin
                            df6['investments_stocks_at_start_of_year_w_margin'].iloc[row] = np.where(
                                df6['groupby_counter'].iloc[row]==1,
                                df6['investment_at_purchase'].iloc[row],
                                df6['stocks_w_margin_investment_value_at_end_of_year'].iloc[row-1]
                            ) 


                            float_margin_requirement = df6['margin_requirement'].iloc[row]
                            investments_stocks_at_start_of_year_w_margin = df6['investments_stocks_at_start_of_year_w_margin'].iloc[row]
                            df6['margin_loan'].iloc[row] = (investments_stocks_at_start_of_year_w_margin / (1 - float_margin_requirement)) * float_margin_requirement
                            df6['total_stock_investment_w_margin'].iloc[row] = investments_stocks_at_start_of_year_w_margin + df6['margin_loan'].iloc[row]

                            df6['stock_return_value_w_margin'].iloc[row] = df6['total_stock_investment_w_margin'].iloc[row] * df6['yearly_stock_return'].iloc[row]
                            df6['margin_interest_value'].iloc[row] = df6['margin_loan'].iloc[row] * df6['margin_interest_rate'].iloc[row]
                            df6['stocks_w_margin_investment_value_at_end_of_year'].iloc[row] = investments_stocks_at_start_of_year_w_margin + df6['stock_return_value_w_margin'].iloc[row] - df6['margin_interest_value'].iloc[row]


                            # without margin
                            df6['investments_stocks_at_start_of_year_wo_margin'].iloc[row] = np.where(
                                df6['groupby_counter'].iloc[row]==1,
                                df6['investment_at_purchase'].iloc[row],
                                df6['stocks_wo_margin_investment_value_at_end_of_year'].iloc[row-1]
                            ) 

                            investments_stocks_at_start_of_year_wo_margin = df6['investments_stocks_at_start_of_year_wo_margin'].iloc[row]
                            df6['total_stock_investment_wo_margin'].iloc[row] = investments_stocks_at_start_of_year_wo_margin

                            df6['stock_return_value_wo_margin'].iloc[row] = df6['total_stock_investment_wo_margin'].iloc[row] * df6['yearly_stock_return'].iloc[row]
                            df6['stocks_wo_margin_investment_value_at_end_of_year'].iloc[row] = investments_stocks_at_start_of_year_wo_margin + df6['stock_return_value_wo_margin'].iloc[row]


                        # RETURNS
                        # with margin
                        df6['stocks_w_margin_investment_value_after_rental_costs'] = df6['stocks_w_margin_investment_value_at_end_of_year'] - df6['total_renters_cost_so_far']

                        for row in range(0, df6.shape[0]):
                            
                            df6['return_value_yearly_stocks_w_margin'].iloc[row] = np.where(
                                df6['groupby_counter'].iloc[row]==1,
                                (df6['stocks_w_margin_investment_value_after_rental_costs'].iloc[row] - df6['investments_stocks_at_start_of_year_w_margin'].iloc[row]),
                                (df6['stocks_w_margin_investment_value_after_rental_costs'].iloc[row] - df6['stocks_w_margin_investment_value_after_rental_costs'].iloc[row-1])
                            )
                            
                            df6['return_prctg_yearly_stocks_w_margin'].iloc[row] = np.where(
                                df6['groupby_counter'].iloc[row]==1,
                                (df6['return_value_yearly_stocks_w_margin'].iloc[row]) / abs(df6['investments_stocks_at_start_of_year_w_margin'].iloc[row]),
                                (df6['return_value_yearly_stocks_w_margin'].iloc[row]) / abs(df6['stocks_w_margin_investment_value_after_rental_costs'].iloc[row-1])
                            )
                        df6['return_prctg_yearly_stocks_w_margin'] = df6['return_prctg_yearly_stocks_w_margin'] * 100

                        df6['return_prctg_cumulative_stocks_w_margin'] = (df6['stocks_w_margin_investment_value_after_rental_costs'] - df6['investment_at_purchase']) / df6['investment_at_purchase']
                        df6['return_prctg_cumulative_stocks_w_margin'] = df6['return_prctg_cumulative_stocks_w_margin'] * 100
                        
                        df6['return_value_cumulative_stocks_w_margin'] = ((df6['stocks_w_margin_investment_value_after_rental_costs'] - df6['investment_at_purchase']))
                        
                        df6['return_rate_total_cumulative_w_margin'] = (df6['investment_at_purchase'] +  df6['return_value_cumulative_stocks_w_margin']) / df6['investment_at_purchase']
                        
#                         df6['return_prctg_cumulative_stocks_w_margin_annualized'] = (((df6['investment_at_purchase'] +  df6['return_value_cumulative_stocks_w_margin']) / df6['investment_at_purchase'])**(1 / (df6['years_since_purchase']+1)) - 1) * 100
                        df6['return_prctg_cumulative_stocks_w_margin_annualized'] = np.where(
                            df6['return_rate_total_cumulative_w_margin'] > -1,
                            ((1 + df6['return_rate_total_cumulative_w_margin']) **(1 / (df6['years_since_purchase']+1)) - 1) * 100,
                            ((1 + df6['return_rate_total_cumulative_w_margin']) **(1 / 1) - 1) * 100
                        )
                        
                        

                        # RETURNS
                        # WITHOUT margin
                        df6['stocks_wo_margin_investment_value_after_rental_costs'] = df6['stocks_wo_margin_investment_value_at_end_of_year'] - df6['total_renters_cost_so_far']

                        for row in range(0, df6.shape[0]):
                            
                            df6['return_value_yearly_stocks_wo_margin'].iloc[row] = np.where(
                                df6['groupby_counter'].iloc[row]==1,
                                (df6['stocks_wo_margin_investment_value_after_rental_costs'].iloc[row] - df6['investments_stocks_at_start_of_year_wo_margin'].iloc[row]),
                                (df6['stocks_wo_margin_investment_value_after_rental_costs'].iloc[row] - df6['stocks_wo_margin_investment_value_after_rental_costs'].iloc[row-1])
                            )
                            
                            df6['return_prctg_yearly_stocks_wo_margin'].iloc[row] = np.where(
                                df6['groupby_counter'].iloc[row]==1,
                                (df6['return_value_yearly_stocks_wo_margin'].iloc[row]) / abs(df6['investments_stocks_at_start_of_year_wo_margin'].iloc[row]),
                                (df6['return_value_yearly_stocks_wo_margin'].iloc[row]) / abs(df6['stocks_wo_margin_investment_value_after_rental_costs'].iloc[row-1])
                            )
                        df6['return_prctg_yearly_stocks_wo_margin'] = df6['return_prctg_yearly_stocks_wo_margin'] * 100

                        df6['return_prctg_cumulative_stocks_wo_margin'] = (df6['stocks_wo_margin_investment_value_after_rental_costs'] - df6['investment_at_purchase']) / df6['investment_at_purchase']
                        df6['return_prctg_cumulative_stocks_wo_margin'] = df6['return_prctg_cumulative_stocks_wo_margin'] * 100

                        df6['return_value_cumulative_stocks_wo_margin'] = ((df6['stocks_wo_margin_investment_value_after_rental_costs'] - df6['investment_at_purchase']))
                        
                        df6['return_rate_total_cumulative_wo_margin'] = (df6['investment_at_purchase'] +  df6['return_value_cumulative_stocks_wo_margin']) / df6['investment_at_purchase']
                        
#                         df6['return_prctg_cumulative_stocks_wo_margin_annualized'] = (((df6['investment_at_purchase'] +  df6['return_value_cumulative_stocks_wo_margin']) / df6['investment_at_purchase'])**(1 / (df6['years_since_purchase']+1)) - 1) * 100
                        df6['return_prctg_cumulative_stocks_wo_margin_annualized'] = np.where(
                            df6['return_rate_total_cumulative_wo_margin'] > -1,
                            ((1 + df6['return_rate_total_cumulative_wo_margin']) **(1 / (df6['years_since_purchase']+1)) - 1) * 100,
                            ((1 + df6['return_rate_total_cumulative_wo_margin']) **(1 / 1) - 1) * 100
                        )
                        
                        
                        #######
                        
#                         print('step 9')



                        str_file = str(str_year_start) + '_' + str(str_year_end) + '_' + str(float_down_payment) + '_' + str(int_fixed_term_mortgage) + '_' + str(int_loan_life_year) + '_' + str(stock)
    #                     df6[lst_columns].to_csv(str_directory + '/csv/' + str_file + '.csv', index=False)
#                         df6[lst_columns].to_excel(lst_directory[int_environment] + 'xlsx/' + str_file + '.xlsx', index=False)
#                         df6.to_excel(lst_directory[int_environment] + 'xlsx/' + str_file + '.xlsx', index=False)
                        df6[lst_columns].to_csv(lst_directory[int_environment] + 'csv/' + str_file + '.csv', index=False)

iter 1 of 300 : 0.05 2015 2016 S&P500

/home/tommy/Software/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

iter 2 of 300 : 0.05 2015 2016 Facebook
iter 3 of 300 : 0.05 2015 2016 Apple
iter 4 of 300 : 0.05 2015 2016 Gold
iter 5 of 300 : 0.05 2015 2016 Bitcoin
iter 6 of 300 : 0.05 2015 2017 S&P500
iter 7 of 300 : 0.05 2015 2017 Facebook
iter 8 of 300 : 0.05 2015 2017 Apple
iter 9 of 300 : 0.05 2015 2017 Gold
iter 10 of 300 : 0.05 2015 2017 Bitcoin
iter 11 of 300 : 0.05 2015 2018 S&P500
iter 12 of 300 : 0.05 2015 2018 Facebook
iter 13 of 300 : 0.05 2015 2018 Apple
iter 14 of 300 : 0.05 2015 2018 Gold
iter 15 of 300 : 0.05 2015 2018 Bitcoin
iter 16 of 300 : 0.05 2015 2019 S&P500
iter 17 of 300 : 0.05 2015 2019 Facebook
iter 18 of 300 : 0.05 2015 2019 Apple
iter 19 of 300 : 0.05 2015 2019 Gold
iter 20 of 300 : 0.05 2015 2019 Bitcoin
iter 21 of 300 : 0.05 2016 2017 S&P500
iter 22 of 300 : 0.05 2016 2017 Facebook
iter 23 of 300 : 0.05 2016 2017 Apple
iter 24 of 300 : 0.05 2016 2017 Gold
iter 25 of 300 : 0.05 2016 2017 Bitcoin
iter 26 of 300 : 0.05 2016 2018 S&P500
iter 27 of 300 : 0.05 2016 2018 Facebook
iter 28 of 300 : 0.05 2016 2018 Apple
iter 29 of 300 : 0.05 2016 2018 Gold
iter 30 of 300 : 0.05 2016 2018 Bitcoin
iter 31 of 300 : 0.05 2016 2019 S&P500
iter 32 of 300 : 0.05 2016 2019 Facebook
iter 33 of 300 : 0.05 2016 2019 Apple
iter 34 of 300 : 0.05 2016 2019 Gold
iter 35 of 300 : 0.05 2016 2019 Bitcoin
iter 36 of 300 : 0.05 2017 2018 S&P500
iter 37 of 300 : 0.05 2017 2018 Facebook
iter 38 of 300 : 0.05 2017 2018 Apple
iter 39 of 300 : 0.05 2017 2018 Gold
iter 40 of 300 : 0.05 2017 2018 Bitcoin
iter 41 of 300 : 0.05 2017 2019 S&P500
iter 42 of 300 : 0.05 2017 2019 Facebook
iter 43 of 300 : 0.05 2017 2019 Apple
iter 44 of 300 : 0.05 2017 2019 Gold
iter 45 of 300 : 0.05 2017 2019 Bitcoin
iter 46 of 300 : 0.05 2018 2019 S&P500
iter 47 of 300 : 0.05 2018 2019 Facebook
iter 48 of 300 : 0.05 2018 2019 Apple
iter 49 of 300 : 0.05 2018 2019 Gold
iter 50 of 300 : 0.05 2018 2019 Bitcoin
iter 51 of 300 : 0.1 2015 2016 S&P500
iter 52 of 300 : 0.1 2015 2016 Facebook
iter 53 of 300 : 0.1 2015 2016 Apple
iter 54 of 300 : 0.1 2015 2016 Gold
iter 55 of 300 : 0.1 2015 2016 Bitcoin
iter 56 of 300 : 0.1 2015 2017 S&P500
iter 57 of 300 : 0.1 2015 2017 Facebook
iter 58 of 300 : 0.1 2015 2017 Apple
iter 59 of 300 : 0.1 2015 2017 Gold
iter 60 of 300 : 0.1 2015 2017 Bitcoin
iter 61 of 300 : 0.1 2015 2018 S&P500
iter 62 of 300 : 0.1 2015 2018 Facebook
iter 63 of 300 : 0.1 2015 2018 Apple
iter 64 of 300 : 0.1 2015 2018 Gold
iter 65 of 300 : 0.1 2015 2018 Bitcoin
iter 66 of 300 : 0.1 2015 2019 S&P500
iter 67 of 300 : 0.1 2015 2019 Facebook
iter 68 of 300 : 0.1 2015 2019 Apple
iter 69 of 300 : 0.1 2015 2019 Gold
iter 70 of 300 : 0.1 2015 2019 Bitcoin
iter 71 of 300 : 0.1 2016 2017 S&P500
iter 72 of 300 : 0.1 2016 2017 Facebook
iter 73 of 300 : 0.1 2016 2017 Apple
iter 74 of 300 : 0.1 2016 2017 Gold
iter 75 of 300 : 0.1 2016 2017 Bitcoin
iter 76 of 300 : 0.1 2016 2018 S&P500
iter 77 of 300 : 0.1 2016 2018 Facebook
iter 78 of 300 : 0.1 2016 2018 Apple
iter 79 of 300 : 0.1 2016 2018 Gold
iter 80 of 300 : 0.1 2016 2018 Bitcoin
iter 81 of 300 : 0.1 2016 2019 S&P500
iter 82 of 300 : 0.1 2016 2019 Facebook
iter 83 of 300 : 0.1 2016 2019 Apple
iter 84 of 300 : 0.1 2016 2019 Gold
iter 85 of 300 : 0.1 2016 2019 Bitcoin
iter 86 of 300 : 0.1 2017 2018 S&P500
iter 87 of 300 : 0.1 2017 2018 Facebook
iter 88 of 300 : 0.1 2017 2018 Apple
iter 89 of 300 : 0.1 2017 2018 Gold
iter 90 of 300 : 0.1 2017 2018 Bitcoin
iter 91 of 300 : 0.1 2017 2019 S&P500
iter 92 of 300 : 0.1 2017 2019 Facebook
iter 93 of 300 : 0.1 2017 2019 Apple
iter 94 of 300 : 0.1 2017 2019 Gold
iter 95 of 300 : 0.1 2017 2019 Bitcoin
iter 96 of 300 : 0.1 2018 2019 S&P500
iter 97 of 300 : 0.1 2018 2019 Facebook
iter 98 of 300 : 0.1 2018 2019 Apple
iter 99 of 300 : 0.1 2018 2019 Gold
iter 100 of 300 : 0.1 2018 2019 Bitcoin
iter 101 of 300 : 0.2 2015 2016 S&P500
iter 102 of 300 : 0.2 2015 2016 Facebook
iter 103 of 300 : 0.2 2015 2016 Apple
iter 104 of 300 : 0.2 2015 2016 Gold
iter 105 of 300 : 0.2 2015 2016 Bitcoin
iter 106 of 300 : 0.2 2015 2017 S&P500
iter 107 of 300 : 0.2 2015 2017 Facebook
iter 108 of 300 : 0.2 2015 2017 Apple
iter 109 of 300 : 0.2 2015 2017 Gold
iter 110 of 300 : 0.2 2015 2017 Bitcoin
iter 111 of 300 : 0.2 2015 2018 S&P500
iter 112 of 300 : 0.2 2015 2018 Facebook
iter 113 of 300 : 0.2 2015 2018 Apple
iter 114 of 300 : 0.2 2015 2018 Gold
iter 115 of 300 : 0.2 2015 2018 Bitcoin
iter 116 of 300 : 0.2 2015 2019 S&P500
iter 117 of 300 : 0.2 2015 2019 Facebook
iter 118 of 300 : 0.2 2015 2019 Apple
iter 119 of 300 : 0.2 2015 2019 Gold
iter 120 of 300 : 0.2 2015 2019 Bitcoin
iter 121 of 300 : 0.2 2016 2017 S&P500
iter 122 of 300 : 0.2 2016 2017 Facebook
iter 123 of 300 : 0.2 2016 2017 Apple
iter 124 of 300 : 0.2 2016 2017 Gold
iter 125 of 300 : 0.2 2016 2017 Bitcoin
iter 126 of 300 : 0.2 2016 2018 S&P500
iter 127 of 300 : 0.2 2016 2018 Facebook
iter 128 of 300 : 0.2 2016 2018 Apple
iter 129 of 300 : 0.2 2016 2018 Gold
iter 130 of 300 : 0.2 2016 2018 Bitcoin
iter 131 of 300 : 0.2 2016 2019 S&P500
iter 132 of 300 : 0.2 2016 2019 Facebook
iter 133 of 300 : 0.2 2016 2019 Apple
iter 134 of 300 : 0.2 2016 2019 Gold
iter 135 of 300 : 0.2 2016 2019 Bitcoin
iter 136 of 300 : 0.2 2017 2018 S&P500
iter 137 of 300 : 0.2 2017 2018 Facebook
iter 138 of 300 : 0.2 2017 2018 Apple
iter 139 of 300 : 0.2 2017 2018 Gold
iter 140 of 300 : 0.2 2017 2018 Bitcoin
iter 141 of 300 : 0.2 2017 2019 S&P500
iter 142 of 300 : 0.2 2017 2019 Facebook
iter 143 of 300 : 0.2 2017 2019 Apple
iter 144 of 300 : 0.2 2017 2019 Gold
iter 145 of 300 : 0.2 2017 2019 Bitcoin
iter 146 of 300 : 0.2 2018 2019 S&P500
iter 147 of 300 : 0.2 2018 2019 Facebook
iter 148 of 300 : 0.2 2018 2019 Apple
iter 149 of 300 : 0.2 2018 2019 Gold
iter 150 of 300 : 0.2 2018 2019 Bitcoin
iter 151 of 300 : 0.3 2015 2016 S&P500
iter 152 of 300 : 0.3 2015 2016 Facebook
iter 153 of 300 : 0.3 2015 2016 Apple
iter 154 of 300 : 0.3 2015 2016 Gold
iter 155 of 300 : 0.3 2015 2016 Bitcoin
iter 156 of 300 : 0.3 2015 2017 S&P500
iter 157 of 300 : 0.3 2015 2017 Facebook
iter 158 of 300 : 0.3 2015 2017 Apple
iter 159 of 300 : 0.3 2015 2017 Gold
iter 160 of 300 : 0.3 2015 2017 Bitcoin
iter 161 of 300 : 0.3 2015 2018 S&P500
iter 162 of 300 : 0.3 2015 2018 Facebook
iter 163 of 300 : 0.3 2015 2018 Apple
iter 164 of 300 : 0.3 2015 2018 Gold
iter 165 of 300 : 0.3 2015 2018 Bitcoin
iter 166 of 300 : 0.3 2015 2019 S&P500
iter 167 of 300 : 0.3 2015 2019 Facebook
iter 168 of 300 : 0.3 2015 2019 Apple
iter 169 of 300 : 0.3 2015 2019 Gold
iter 170 of 300 : 0.3 2015 2019 Bitcoin
iter 171 of 300 : 0.3 2016 2017 S&P500
iter 172 of 300 : 0.3 2016 2017 Facebook
iter 173 of 300 : 0.3 2016 2017 Apple
iter 174 of 300 : 0.3 2016 2017 Gold
iter 175 of 300 : 0.3 2016 2017 Bitcoin
iter 176 of 300 : 0.3 2016 2018 S&P500
iter 177 of 300 : 0.3 2016 2018 Facebook
iter 178 of 300 : 0.3 2016 2018 Apple
iter 179 of 300 : 0.3 2016 2018 Gold
iter 180 of 300 : 0.3 2016 2018 Bitcoin
iter 181 of 300 : 0.3 2016 2019 S&P500
iter 182 of 300 : 0.3 2016 2019 Facebook
iter 183 of 300 : 0.3 2016 2019 Apple
iter 184 of 300 : 0.3 2016 2019 Gold
iter 185 of 300 : 0.3 2016 2019 Bitcoin
iter 186 of 300 : 0.3 2017 2018 S&P500
iter 187 of 300 : 0.3 2017 2018 Facebook
iter 188 of 300 : 0.3 2017 2018 Apple
iter 189 of 300 : 0.3 2017 2018 Gold
iter 190 of 300 : 0.3 2017 2018 Bitcoin
iter 191 of 300 : 0.3 2017 2019 S&P500
iter 192 of 300 : 0.3 2017 2019 Facebook
iter 193 of 300 : 0.3 2017 2019 Apple
iter 194 of 300 : 0.3 2017 2019 Gold
iter 195 of 300 : 0.3 2017 2019 Bitcoin
iter 196 of 300 : 0.3 2018 2019 S&P500
iter 197 of 300 : 0.3 2018 2019 Facebook
iter 198 of 300 : 0.3 2018 2019 Apple
iter 199 of 300 : 0.3 2018 2019 Gold
iter 200 of 300 : 0.3 2018 2019 Bitcoin
iter 201 of 300 : 0.5 2015 2016 S&P500
iter 202 of 300 : 0.5 2015 2016 Facebook
iter 203 of 300 : 0.5 2015 2016 Apple
iter 204 of 300 : 0.5 2015 2016 Gold
iter 205 of 300 : 0.5 2015 2016 Bitcoin
iter 206 of 300 : 0.5 2015 2017 S&P500
iter 207 of 300 : 0.5 2015 2017 Facebook
iter 208 of 300 : 0.5 2015 2017 Apple
iter 209 of 300 : 0.5 2015 2017 Gold
iter 210 of 300 : 0.5 2015 2017 Bitcoin
iter 211 of 300 : 0.5 2015 2018 S&P500
iter 212 of 300 : 0.5 2015 2018 Facebook
iter 213 of 300 : 0.5 2015 2018 Apple
iter 214 of 300 : 0.5 2015 2018 Gold
iter 215 of 300 : 0.5 2015 2018 Bitcoin
iter 216 of 300 : 0.5 2015 2019 S&P500
iter 217 of 300 : 0.5 2015 2019 Facebook
iter 218 of 300 : 0.5 2015 2019 Apple
iter 219 of 300 : 0.5 2015 2019 Gold
iter 220 of 300 : 0.5 2015 2019 Bitcoin
iter 221 of 300 : 0.5 2016 2017 S&P500
iter 222 of 300 : 0.5 2016 2017 Facebook
iter 223 of 300 : 0.5 2016 2017 Apple
iter 224 of 300 : 0.5 2016 2017 Gold
iter 225 of 300 : 0.5 2016 2017 Bitcoin
iter 226 of 300 : 0.5 2016 2018 S&P500
iter 227 of 300 : 0.5 2016 2018 Facebook
iter 228 of 300 : 0.5 2016 2018 Apple
iter 229 of 300 : 0.5 2016 2018 Gold
iter 230 of 300 : 0.5 2016 2018 Bitcoin
iter 231 of 300 : 0.5 2016 2019 S&P500
iter 232 of 300 : 0.5 2016 2019 Facebook
iter 233 of 300 : 0.5 2016 2019 Apple
iter 234 of 300 : 0.5 2016 2019 Gold
iter 235 of 300 : 0.5 2016 2019 Bitcoin
iter 236 of 300 : 0.5 2017 2018 S&P500
iter 237 of 300 : 0.5 2017 2018 Facebook
iter 238 of 300 : 0.5 2017 2018 Apple
iter 239 of 300 : 0.5 2017 2018 Gold
iter 240 of 300 : 0.5 2017 2018 Bitcoin
iter 241 of 300 : 0.5 2017 2019 S&P500
iter 242 of 300 : 0.5 2017 2019 Facebook
iter 243 of 300 : 0.5 2017 2019 Apple
iter 244 of 300 : 0.5 2017 2019 Gold
iter 245 of 300 : 0.5 2017 2019 Bitcoin
iter 246 of 300 : 0.5 2018 2019 S&P500
iter 247 of 300 : 0.5 2018 2019 Facebook
iter 248 of 300 : 0.5 2018 2019 Apple
iter 249 of 300 : 0.5 2018 2019 Gold
iter 250 of 300 : 0.5 2018 2019 Bitcoin
iter 251 of 300 : 0.999999 2015 2016 S&P500
iter 252 of 300 : 0.999999 2015 2016 Facebook
iter 253 of 300 : 0.999999 2015 2016 Apple
iter 254 of 300 : 0.999999 2015 2016 Gold
iter 255 of 300 : 0.999999 2015 2016 Bitcoin
iter 256 of 300 : 0.999999 2015 2017 S&P500
iter 257 of 300 : 0.999999 2015 2017 Facebook
iter 258 of 300 : 0.999999 2015 2017 Apple
iter 259 of 300 : 0.999999 2015 2017 Gold
iter 260 of 300 : 0.999999 2015 2017 Bitcoin
iter 261 of 300 : 0.999999 2015 2018 S&P500
iter 262 of 300 : 0.999999 2015 2018 Facebook
iter 263 of 300 : 0.999999 2015 2018 Apple
iter 264 of 300 : 0.999999 2015 2018 Gold
iter 265 of 300 : 0.999999 2015 2018 Bitcoin
iter 266 of 300 : 0.999999 2015 2019 S&P500
iter 267 of 300 : 0.999999 2015 2019 Facebook
iter 268 of 300 : 0.999999 2015 2019 Apple
iter 269 of 300 : 0.999999 2015 2019 Gold
iter 270 of 300 : 0.999999 2015 2019 Bitcoin
iter 271 of 300 : 0.999999 2016 2017 S&P500
iter 272 of 300 : 0.999999 2016 2017 Facebook
iter 273 of 300 : 0.999999 2016 2017 Apple
iter 274 of 300 : 0.999999 2016 2017 Gold
iter 275 of 300 : 0.999999 2016 2017 Bitcoin
iter 276 of 300 : 0.999999 2016 2018 S&P500
iter 277 of 300 : 0.999999 2016 2018 Facebook
iter 278 of 300 : 0.999999 2016 2018 Apple
iter 279 of 300 : 0.999999 2016 2018 Gold
iter 280 of 300 : 0.999999 2016 2018 Bitcoin
iter 281 of 300 : 0.999999 2016 2019 S&P500
iter 282 of 300 : 0.999999 2016 2019 Facebook
iter 283 of 300 : 0.999999 2016 2019 Apple
iter 284 of 300 : 0.999999 2016 2019 Gold
iter 285 of 300 : 0.999999 2016 2019 Bitcoin
iter 286 of 300 : 0.999999 2017 2018 S&P500
iter 287 of 300 : 0.999999 2017 2018 Facebook
iter 288 of 300 : 0.999999 2017 2018 Apple
iter 289 of 300 : 0.999999 2017 2018 Gold
iter 290 of 300 : 0.999999 2017 2018 Bitcoin
iter 291 of 300 : 0.999999 2017 2019 S&P500
iter 292 of 300 : 0.999999 2017 2019 Facebook
iter 293 of 300 : 0.999999 2017 2019 Apple
iter 294 of 300 : 0.999999 2017 2019 Gold
iter 295 of 300 : 0.999999 2017 2019 Bitcoin
iter 296 of 300 : 0.999999 2018 2019 S&P500
iter 297 of 300 : 0.999999 2018 2019 Facebook
iter 298 of 300 : 0.999999 2018 2019 Apple
iter 299 of 300 : 0.999999 2018 2019 Gold
iter 300 of 300 : 0.999999 2018 2019 Bitcoin

In [ ]:
# CONCATENATE all XLSX input files
li = []

str_directory_windows = "D:/IAT/tableau_input/"
str_directory_linux = '/home/tommy/Documents/IAT/project/tableau_input/'
lst_directory = [str_directory_windows, str_directory_linux]

for root, dirs, files in os.walk(lst_directory[int_environment] + 'xlsx/'):

    for file in files:
#         print('root', root)
#         print('dirs', dirs)
        print('file', file)
        if file.endswith(".xlsx"):
            if root.endswith('xlsx'):
                print(file)
            df = pd.read_excel(root + '/' + file)
            li.append(df)

df_all = pd.concat(li, axis=0, ignore_index=False)
df_all.to_excel(lst_directory[int_environment] + '/xlsx/tableau_input_all.xlsx', index=False)
# df_all.to_excel(str_directory + '/xlsx/tableau_input_all.xlsx', index=False)
# df_all.to_csv(str_directory + '/csv/tableau_input_all.csv', index=False)
df_all.head()

In [57]:
# CONCATENATE all CSV input files
li = []

str_directory_windows = "D:/IAT/tableau_input/"
str_directory_linux = '/home/tommy/Documents/IAT/project/tableau_input/'
lst_directory = [str_directory_windows, str_directory_linux]

for root, dirs, files in os.walk(lst_directory[int_environment] + 'csv/'):

    for file in files:
#         print('root', root)
#         print('dirs', dirs)
        print('file', file)
        if file.endswith(".csv"):
            if root.endswith('csv'):
                print(file)
            df = pd.read_csv(root + '/' + file)
            li.append(df)

df_all = pd.concat(li, axis=0, ignore_index=False)
df_all["LEGAL_TYPE"] = df_all["LEGAL_TYPE"].str.replace("LAND", "Non-Strata", case = False)
df_all["LEGAL_TYPE"] = df_all["LEGAL_TYPE"].str.replace("STRATA", "Strata", case = False)
df_all["dwelling_type"] = df_all["dwelling_type"].str.replace("condo_dwelling", "Condo", case = False)
df_all["dwelling_type"] = df_all["dwelling_type"].str.replace("family_dwelling", "Family", case = False)
# df_all.to_csv(lst_directory[int_environment] + '/csv/tableau_input_all.csv', index=False)
df_all.to_excel(lst_directory[int_environment] + '/xlsx/tableau_input_all.xlsx', index=False)
df_all.head()

file 2015_2018_0.3_5_30_Bitcoin.csv
file 2015_2018_0.999999_5_30_Gold.csv
file 2017_2019_0.1_5_30_Gold.csv
file 2015_2017_0.5_5_30_Facebook.csv
file 2017_2018_0.5_5_30_Facebook.csv
file 2016_2017_0.05_5_30_Bitcoin.csv
file 2015_2016_0.2_5_30_Bitcoin.csv
file 2017_2019_0.999999_5_30_Bitcoin.csv
file 2015_2016_0.5_5_30_Apple.csv
file 2015_2017_0.05_5_30_Apple.csv
file 2017_2018_0.999999_5_30_Facebook.csv
file 2018_2019_0.3_5_30_Gold.csv
file 2016_2017_0.1_5_30_Gold.csv
file 2015_2016_0.1_5_30_S&P500.csv
file 2015_2018_0.5_5_30_Bitcoin.csv
file 2016_2017_0.3_5_30_Bitcoin.csv
file 2016_2018_0.05_5_30_Gold.csv
file 2018_2019_0.1_5_30_S&P500.csv
file 2016_2018_0.999999_5_30_S&P500.csv
file 2015_2019_0.3_5_30_Bitcoin.csv
file 2017_2019_0.5_5_30_Apple.csv
file 2015_2016_0.5_5_30_Bitcoin.csv
file 2017_2018_0.2_5_30_Gold.csv
file 2018_2019_0.999999_5_30_Facebook.csv
file 2017_2019_0.1_5_30_S&P500.csv
file 2016_2018_0.5_5_30_Apple.csv
file 2017_2018_0.1_5_30_Apple.csv
file 2016_2017_0.05_5_30_Facebook.csv
file 2017_2018_0.999999_5_30_Bitcoin.csv
file 2016_2018_0.5_5_30_Bitcoin.csv
file 2015_2019_0.1_5_30_Apple.csv
file 2016_2018_0.05_5_30_Apple.csv
file 2018_2019_0.3_5_30_S&P500.csv
file 2015_2018_0.05_5_30_Facebook.csv
file 2016_2019_0.3_5_30_Apple.csv
file 2018_2019_0.5_5_30_Gold.csv
file 2015_2019_0.5_5_30_Gold.csv
file 2016_2019_0.3_5_30_S&P500.csv
file 2016_2017_0.999999_5_30_Apple.csv
file 2018_2019_0.5_5_30_Facebook.csv
file 2016_2017_0.999999_5_30_Gold.csv
file 2015_2018_0.1_5_30_Facebook.csv
file 2015_2016_0.5_5_30_Facebook.csv
file 2017_2019_0.3_5_30_Facebook.csv
file 2016_2019_0.999999_5_30_Gold.csv
file 2015_2017_0.3_5_30_Facebook.csv
file 2015_2016_0.05_5_30_Bitcoin.csv
file 2015_2017_0.5_5_30_Bitcoin.csv
file 2016_2019_0.999999_5_30_Facebook.csv
file 2015_2017_0.999999_5_30_Facebook.csv
file 2015_2019_0.05_5_30_Facebook.csv
file 2017_2018_0.2_5_30_Apple.csv
file 2017_2018_0.05_5_30_Apple.csv
file 2018_2019_0.999999_5_30_Gold.csv
file 2018_2019_0.2_5_30_Bitcoin.csv
file 2017_2019_0.999999_5_30_Gold.csv
file 2015_2016_0.05_5_30_Gold.csv
file 2016_2018_0.05_5_30_Bitcoin.csv
file 2017_2018_0.1_5_30_Bitcoin.csv
file 2017_2019_0.05_5_30_Gold.csv
file 2016_2017_0.2_5_30_Gold.csv
file 2016_2019_0.3_5_30_Facebook.csv
file 2017_2018_0.5_5_30_Gold.csv
file 2015_2018_0.3_5_30_Apple.csv
file 2016_2019_0.2_5_30_Gold.csv
file 2017_2019_0.5_5_30_Facebook.csv
file 2016_2018_0.05_5_30_Facebook.csv
file 2016_2018_0.3_5_30_Gold.csv
file 2017_2019_0.999999_5_30_Apple.csv
file 2016_2018_0.3_5_30_Apple.csv
file 2015_2019_0.05_5_30_Apple.csv
file 2015_2019_0.1_5_30_Bitcoin.csv
file 2016_2017_0.5_5_30_Apple.csv
file 2017_2019_0.05_5_30_S&P500.csv
file 2015_2017_0.1_5_30_S&P500.csv
file 2018_2019_0.2_5_30_Apple.csv
file 2015_2017_0.999999_5_30_Gold.csv
file 2016_2019_0.05_5_30_Facebook.csv
file 2016_2018_0.2_5_30_Gold.csv
file 2016_2017_0.5_5_30_Bitcoin.csv
file 2016_2018_0.5_5_30_Facebook.csv
file 2016_2019_0.05_5_30_Gold.csv
file 2015_2018_0.999999_5_30_Bitcoin.csv
file 2018_2019_0.5_5_30_Apple.csv
file 2015_2019_0.5_5_30_Bitcoin.csv
file 2015_2018_0.999999_5_30_Facebook.csv
file 2015_2016_0.1_5_30_Bitcoin.csv
file 2015_2018_0.05_5_30_Apple.csv
file 2017_2019_0.05_5_30_Facebook.csv
file 2016_2018_0.3_5_30_Facebook.csv
file 2016_2017_0.3_5_30_Facebook.csv
file 2015_2017_0.2_5_30_Gold.csv
file 2016_2019_0.1_5_30_Apple.csv
file 2016_2017_0.2_5_30_S&P500.csv
file 2017_2018_0.999999_5_30_Apple.csv
file 2015_2019_0.2_5_30_Facebook.csv
file 2015_2017_0.05_5_30_Bitcoin.csv
file 2015_2016_0.5_5_30_S&P500.csv
file 2016_2017_0.3_5_30_S&P500.csv
file 2015_2018_0.05_5_30_Bitcoin.csv
file 2017_2018_0.3_5_30_Gold.csv
file 2015_2017_0.5_5_30_Apple.csv
file 2017_2018_0.3_5_30_Apple.csv
file 2018_2019_0.1_5_30_Gold.csv
file 2016_2018_0.2_5_30_S&P500.csv
file 2016_2017_0.05_5_30_Gold.csv
file 2017_2019_0.2_5_30_Bitcoin.csv
file 2015_2016_0.3_5_30_Facebook.csv
file 2015_2016_0.05_5_30_Facebook.csv
file 2018_2019_0.3_5_30_Bitcoin.csv
file 2015_2016_0.999999_5_30_Gold.csv
file 2015_2017_0.05_5_30_S&P500.csv
file 2016_2017_0.1_5_30_Apple.csv
file 2015_2018_0.5_5_30_Gold.csv
file 2018_2019_0.05_5_30_Apple.csv
file 2016_2019_0.05_5_30_Apple.csv
file 2016_2017_0.2_5_30_Facebook.csv
file 2018_2019_0.2_5_30_Gold.csv
file 2015_2019_0.2_5_30_S&P500.csv
file 2018_2019_0.999999_5_30_S&P500.csv
file 2016_2017_0.5_5_30_Gold.csv
file 2016_2019_0.1_5_30_Bitcoin.csv
file 2017_2019_0.1_5_30_Apple.csv
file 2015_2017_0.2_5_30_S&P500.csv
file 2015_2016_0.1_5_30_Gold.csv
file 2015_2018_0.999999_5_30_S&P500.csv
file 2016_2019_0.2_5_30_Facebook.csv
file 2018_2019_0.05_5_30_Gold.csv
file 2018_2019_0.05_5_30_Bitcoin.csv
file 2016_2019_0.999999_5_30_Bitcoin.csv
file 2017_2018_0.1_5_30_Gold.csv
file 2015_2018_0.5_5_30_Apple.csv
file 2015_2019_0.05_5_30_S&P500.csv
file 2016_2017_0.1_5_30_S&P500.csv
file 2015_2017_0.3_5_30_Gold.csv
file 2016_2019_0.3_5_30_Gold.csv
file 2016_2017_0.3_5_30_Gold.csv
file 2018_2019_0.1_5_30_Facebook.csv
file 2015_2017_0.3_5_30_Bitcoin.csv
file 2016_2018_0.1_5_30_Facebook.csv
file 2016_2017_0.999999_5_30_Facebook.csv
file 2017_2018_0.2_5_30_Bitcoin.csv
file 2018_2019_0.1_5_30_Apple.csv
file 2015_2017_0.3_5_30_S&P500.csv
file 2018_2019_0.5_5_30_Bitcoin.csv
file 2016_2019_0.1_5_30_Facebook.csv
file 2017_2019_0.5_5_30_Gold.csv
file 2017_2019_0.2_5_30_Facebook.csv
file 2015_2018_0.1_5_30_Apple.csv
file 2015_2018_0.2_5_30_Facebook.csv
file 2015_2018_0.1_5_30_S&P500.csv
file 2017_2019_0.3_5_30_Apple.csv
file 2015_2018_0.05_5_30_S&P500.csv
file 2016_2017_0.3_5_30_Apple.csv
file 2015_2017_0.5_5_30_Gold.csv
file 2016_2017_0.5_5_30_Facebook.csv
file 2016_2019_0.3_5_30_Bitcoin.csv
file 2015_2019_0.5_5_30_Facebook.csv
file 2017_2018_0.3_5_30_S&P500.csv
file 2016_2018_0.05_5_30_S&P500.csv
file 2015_2017_0.1_5_30_Gold.csv
file 2015_2017_0.999999_5_30_Apple.csv
file 2015_2018_0.2_5_30_Bitcoin.csv
file 2015_2019_0.3_5_30_Gold.csv
file 2017_2018_0.1_5_30_S&P500.csv
file 2015_2016_0.3_5_30_Gold.csv
file 2016_2018_0.999999_5_30_Apple.csv
file 2015_2017_0.1_5_30_Apple.csv
file 2016_2019_0.05_5_30_S&P500.csv
file 2016_2018_0.1_5_30_S&P500.csv
file 2016_2019_0.2_5_30_Apple.csv
file 2016_2019_0.05_5_30_Bitcoin.csv
file 2016_2017_0.2_5_30_Apple.csv
file 2016_2017_0.5_5_30_S&P500.csv
file 2017_2018_0.1_5_30_Facebook.csv
file 2017_2019_0.2_5_30_Gold.csv
file 2016_2018_0.2_5_30_Bitcoin.csv
file 2015_2019_0.3_5_30_S&P500.csv
file 2017_2019_0.2_5_30_Apple.csv
file 2016_2018_0.1_5_30_Gold.csv
file 2015_2018_0.2_5_30_S&P500.csv
file 2017_2019_0.3_5_30_Gold.csv
file 2016_2017_0.999999_5_30_Bitcoin.csv
file 2015_2019_0.2_5_30_Gold.csv
file 2016_2019_0.1_5_30_S&P500.csv
file 2017_2019_0.999999_5_30_S&P500.csv
file 2017_2019_0.1_5_30_Facebook.csv
file 2017_2019_0.05_5_30_Bitcoin.csv
file 2015_2016_0.5_5_30_Gold.csv
file 2016_2019_0.5_5_30_Apple.csv
file 2016_2017_0.05_5_30_Apple.csv
file 2017_2018_0.5_5_30_Bitcoin.csv
file 2015_2018_0.5_5_30_S&P500.csv
file 2018_2019_0.5_5_30_S&P500.csv
file 2016_2019_0.5_5_30_Gold.csv
file 2015_2019_0.999999_5_30_Facebook.csv
file 2015_2019_0.05_5_30_Bitcoin.csv
file 2015_2019_0.999999_5_30_S&P500.csv
file 2017_2018_0.05_5_30_S&P500.csv
file 2015_2019_0.2_5_30_Apple.csv
file 2015_2018_0.999999_5_30_Apple.csv
file 2015_2019_0.2_5_30_Bitcoin.csv
file 2018_2019_0.3_5_30_Apple.csv
file 2016_2018_0.1_5_30_Apple.csv
file 2017_2019_0.3_5_30_Bitcoin.csv
file 2016_2018_0.999999_5_30_Bitcoin.csv
file 2015_2017_0.1_5_30_Facebook.csv
file 2017_2018_0.3_5_30_Facebook.csv
file 2015_2017_0.5_5_30_S&P500.csv
file 2018_2019_0.999999_5_30_Apple.csv
file 2015_2017_0.05_5_30_Facebook.csv
file 2017_2019_0.3_5_30_S&P500.csv
file 2016_2019_0.5_5_30_S&P500.csv
file 2017_2019_0.1_5_30_Bitcoin.csv
file 2018_2019_0.2_5_30_S&P500.csv
file 2015_2016_0.2_5_30_S&P500.csv
file 2015_2017_0.2_5_30_Bitcoin.csv
file 2018_2019_0.2_5_30_Facebook.csv
file 2017_2018_0.5_5_30_Apple.csv
file 2016_2019_0.5_5_30_Bitcoin.csv
file 2015_2019_0.999999_5_30_Gold.csv
file 2015_2018_0.05_5_30_Gold.csv
file 2018_2019_0.3_5_30_Facebook.csv
file 2015_2018_0.1_5_30_Bitcoin.csv
file 2016_2018_0.999999_5_30_Gold.csv
file 2015_2016_0.2_5_30_Facebook.csv
file 2016_2019_0.5_5_30_Facebook.csv
file 2015_2016_0.2_5_30_Gold.csv
file 2015_2019_0.1_5_30_Gold.csv
file 2015_2016_0.999999_5_30_Facebook.csv
file 2015_2018_0.1_5_30_Gold.csv
file 2016_2018_0.2_5_30_Apple.csv
file 2016_2019_0.1_5_30_Gold.csv
file 2017_2018_0.2_5_30_Facebook.csv
file 2018_2019_0.05_5_30_Facebook.csv
file 2015_2019_0.3_5_30_Facebook.csv
file 2017_2018_0.999999_5_30_S&P500.csv
file 2017_2019_0.2_5_30_S&P500.csv
file 2015_2019_0.1_5_30_Facebook.csv
file 2017_2018_0.999999_5_30_Gold.csv
file 2016_2017_0.1_5_30_Bitcoin.csv
file 2015_2016_0.05_5_30_S&P500.csv
file 2015_2016_0.999999_5_30_Apple.csv
file 2016_2018_0.1_5_30_Bitcoin.csv
file 2015_2019_0.999999_5_30_Bitcoin.csv
file 2016_2017_0.999999_5_30_S&P500.csv
file 2016_2018_0.999999_5_30_Facebook.csv
file 2017_2018_0.05_5_30_Bitcoin.csv
file 2015_2017_0.3_5_30_Apple.csv
file 2018_2019_0.1_5_30_Bitcoin.csv
file 2016_2017_0.2_5_30_Bitcoin.csv
file 2017_2018_0.2_5_30_S&P500.csv
file 2015_2019_0.1_5_30_S&P500.csv
file 2015_2016_0.2_5_30_Apple.csv
file 2015_2017_0.2_5_30_Facebook.csv
file 2018_2019_0.999999_5_30_Bitcoin.csv
file 2015_2016_0.999999_5_30_S&P500.csv
file 2016_2018_0.3_5_30_S&P500.csv
file 2015_2019_0.05_5_30_Gold.csv
file 2015_2018_0.3_5_30_S&P500.csv
file 2015_2018_0.3_5_30_Gold.csv
file 2015_2017_0.999999_5_30_S&P500.csv
file 2016_2018_0.5_5_30_Gold.csv
file 2015_2018_0.2_5_30_Apple.csv
file 2015_2017_0.1_5_30_Bitcoin.csv
file 2017_2019_0.5_5_30_S&P500.csv
file 2015_2017_0.999999_5_30_Bitcoin.csv
file 2017_2019_0.5_5_30_Bitcoin.csv
file 2017_2018_0.5_5_30_S&P500.csv
file 2016_2017_0.05_5_30_S&P500.csv
file 2016_2018_0.5_5_30_S&P500.csv
file 2017_2018_0.3_5_30_Bitcoin.csv
file 2015_2016_0.05_5_30_Apple.csv
file 2017_2018_0.05_5_30_Gold.csv
file 2017_2018_0.05_5_30_Facebook.csv
file 2017_2019_0.05_5_30_Apple.csv
file 2015_2017_0.2_5_30_Apple.csv
file 2016_2019_0.2_5_30_Bitcoin.csv
file 2015_2016_0.1_5_30_Apple.csv
file 2015_2019_0.999999_5_30_Apple.csv
file 2016_2018_0.3_5_30_Bitcoin.csv
file 2016_2017_0.1_5_30_Facebook.csv
file 2015_2018_0.2_5_30_Gold.csv
file 2015_2019_0.3_5_30_Apple.csv
file 2015_2016_0.3_5_30_S&P500.csv
file 2016_2019_0.2_5_30_S&P500.csv
file 2015_2016_0.1_5_30_Facebook.csv
file 2017_2019_0.999999_5_30_Facebook.csv
file 2015_2017_0.05_5_30_Gold.csv
file 2016_2019_0.999999_5_30_S&P500.csv
file 2015_2016_0.999999_5_30_Bitcoin.csv
file 2015_2019_0.5_5_30_Apple.csv
file 2015_2018_0.5_5_30_Facebook.csv
file 2015_2018_0.3_5_30_Facebook.csv
file 2016_2018_0.2_5_30_Facebook.csv
file 2015_2016_0.3_5_30_Bitcoin.csv
file 2015_2016_0.3_5_30_Apple.csv
file 2016_2019_0.999999_5_30_Apple.csv
file 2015_2019_0.5_5_30_S&P500.csv
file 2018_2019_0.05_5_30_S&P500.csv

,year_start,year_end,down_payment,Mortgage_Fixed_Term,Loan_Life,stock,LEGAL_TYPE,ZONE_CATEGORY,dwelling_type,REPORT_YEAR,bedrooms,Neighbourhood_Name,total_renters_cost,value_at_purchase,loan_amount_at_mortgage_contract,mortgage_investment_value,investment_at_purchase,mortgage_return_prctg_yearly,mortgage_return_prctg_cumulative,stocks_w_margin_investment_value_after_rental_costs,return_prctg_yearly_stocks_w_margin,return_prctg_cumulative_stocks_w_margin,stocks_wo_margin_investment_value_after_rental_costs,return_prctg_yearly_stocks_wo_margin,return_prctg_cumulative_stocks_wo_margin,CURRENT_TOTAL_VALUE_CORRECTED,PREVIOUS_TOTAL_VALUE_CORRECTED,mortgage_return_prctg,total_owners_fees,owning_costs_total_yearly,mortgage_return_value_yearly,mortgage_return_prctg_annualized,return_prctg_cumulative_stocks_w_margin_annualized,return_prctg_cumulative_stocks_wo_margin_annualized
0,2015,2018,30.0,5,30,Bitcoin,Non-Strata,Comprehensive Development,Condo,2015,0,Downtown,12876,265000.0,185500.0,62002.00,79500.0,-22.010063,-22.010063,1.484282e+05,86.702192,86.702192,9.394777e+04,18.173299,18.173299,268800,265000,0.036963,11364,24574.00,-17498.00,-22.010063,186.702192,118.173299
1,2015,2018,30.0,5,30,Bitcoin,Non-Strata,Comprehensive Development,Condo,2016,0,Downtown,13332,265000.0,185500.0,80552.00,79500.0,29.918390,1.323270,7.830342e+05,427.550701,884.948721,2.130837e+05,126.810839,168.029850,309146,268800,15.009963,14644,25204.00,18550.00,0.659461,229.385598,91.841041
2,2015,2018,30.0,5,30,Bitcoin,Non-Strata,Comprehensive Development,Condo,2017,0,Downtown,14112,265000.0,185500.0,103439.00,79500.0,28.412702,30.111950,3.760369e+07,4702.304322,47200.234989,3.474943e+06,1530.787363,4270.996931,356389,309146,15.281501,17336,27908.00,22887.00,9.170608,679.698739,254.923529
3,2015,2018,30.0,5,30,Bitcoin,Non-Strata,Comprehensive Development,Condo,2018,0,Downtown,15672,265000.0,185500.0,72163.45,79500.0,-30.235743,-9.228365,-5.900521e+07,-256.913372,-74320.393532,8.762919e+05,-74.782551,1002.253933,369551,356389,3.693182,19084,48133.55,-31275.55,-2.391522,-74220.393532,86.208307
4,2015,2018,30.0,5,30,Bitcoin,Non-Strata,Comprehensive Development,Condo,2015,0,Fairview,9468,251800.0,176260.0,63094.00,75540.0,-16.476039,-16.476039,1.438015e+05,90.364661,90.364661,9.203474e+04,21.835768,21.835768,259800,251800,3.368474,11004,23566.00,-12446.00,-16.476039,190.364661,121.835768